03_Source_Code/workflows/n8n/AUTO-001_Daily_Repository_Status_Report.json
{
  "updatedAt": "2026-07-08T00:27:14.110Z",
  "createdAt": "2026-06-27T01:02:14.750Z",
  "id": "1Blqe9p0iWWimdCs",
  "name": "AUTO-001 Daily Repository Status Report",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "s001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "h001a",
      "name": "Get Project State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8000/project-state",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "hci-01253a2b0f87dbd03346bba60f0c31d7350e5c75b17c866c"
            }
          ]
        }
      }
    },
    {
      "id": "h001b",
      "name": "Get Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        680,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8000/api/v1/health",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "hci-01253a2b0f87dbd03346bba60f0c31d7350e5c75b17c866c"
            }
          ]
        }
      }
    },
    {
      "id": "c001f",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "const stateData = $('Get Project State').item.json;\nconst healthData = $('Get Health').item.json;\nconst today = new Date().toISOString().split('T')[0];\nconst now = new Date().toISOString();\nconst content = stateData.content || JSON.stringify(stateData, null, 2);\nconst health = JSON.stringify(healthData, null, 2);\nconst report = `# Daily Repository Status Report\n## ${today} \u2014 HCI AI Operating System\n\n**Generated:** ${now}\n**Generated by:** AUTO-001 (n8n)\n\n---\n\n## System Health\n\n\\`\\`\\`json\n${health}\n\\`\\`\\`\n\n---\n\n## Live Project State\n\n${content}\n\n---\n\n*Report generated automatically by AUTO-001 | Hendrickson Construction, Inc.*\n`;\nreturn [{ json: { report, date: today } }];"
      }
    },
    {
      "id": "c001w",
      "name": "Commit Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst { execSync } = require('child_process');\n\nconst report = $input.item.json.report;\nconst today = new Date().toISOString().split('T')[0];\nconst repoRoot = '/Users/buckadams/HCI_AI_Operating_System';\nconst filePath = repoRoot + '/reports/daily/' + today + '-daily-status.md';\n\nfs.writeFileSync(filePath, report, 'utf8');\n\ntry {\n  execSync('git -C ' + repoRoot + ' add ' + filePath, {stdio:'pipe'});\n  execSync('git -C ' + repoRoot + ' diff --cached --quiet || git -C ' + repoRoot + ' commit -m \"AUTO: daily-status \" + today + \" [skip ci]\"', {stdio:'pipe', shell:'/bin/bash'});\n  execSync('git -C ' + repoRoot + ' push origin main', {stdio:'pipe'});\n  return [{ json: { status: 'committed', file: filePath } }];\n} catch(e) {\n  return [{ json: { status: 'write_ok_push_failed', file: filePath, error: e.message } }];\n}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Project State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project State": {
      "main": [
        [
          {
            "node": "Get Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Health": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "Commit Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        0
      ]
    }
  },
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "cc5c2ee6-a5a1-4557-9a6f-e7a450353d2d",
  "activeVersionId": "cc5c2ee6-a5a1-4557-9a6f-e7a450353d2d",
  "versionCounter": 3,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-27T01:02:14.752Z",
      "createdAt": "2026-06-27T01:02:14.752Z",
      "role": "workflow:owner",
      "workflowId": "1Blqe9p0iWWimdCs",
      "projectId": "ZyJUZXA49m8REtF6",
      "project": {
        "updatedAt": "2026-06-13T17:47:03.534Z",
        "createdAt": "2026-06-13T17:44:54.962Z",
        "id": "ZyJUZXA49m8REtF6",
        "name": "Buck Adams <buck@hendricksoninc.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-08T00:27:14.111Z",
    "createdAt": "2026-07-08T00:27:14.111Z",
    "versionId": "cc5c2ee6-a5a1-4557-9a6f-e7a450353d2d",
    "workflowId": "1Blqe9p0iWWimdCs",
    "nodes": [
      {
        "id": "s001",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1,
        "position": [
          240,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 7 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "h001a",
        "name": "Get Project State",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          460,
          300
        ],
        "parameters": {
          "method": "GET",
          "url": "http://host.docker.internal:8000/project-state",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "hci-01253a2b0f87dbd03346bba60f0c31d7350e5c75b17c866c"
              }
            ]
          }
        }
      },
      {
        "id": "h001b",
        "name": "Get Health",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          680,
          300
        ],
        "parameters": {
          "method": "GET",
          "url": "http://host.docker.internal:8000/api/v1/health",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "hci-01253a2b0f87dbd03346bba60f0c31d7350e5c75b17c866c"
              }
            ]
          }
        }
      },
      {
        "id": "c001f",
        "name": "Format Report",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          900,
          300
        ],
        "parameters": {
          "jsCode": "const stateData = $('Get Project State').item.json;\nconst healthData = $('Get Health').item.json;\nconst today = new Date().toISOString().split('T')[0];\nconst now = new Date().toISOString();\nconst content = stateData.content || JSON.stringify(stateData, null, 2);\nconst health = JSON.stringify(healthData, null, 2);\nconst report = `# Daily Repository Status Report\n## ${today} \u2014 HCI AI Operating System\n\n**Generated:** ${now}\n**Generated by:** AUTO-001 (n8n)\n\n---\n\n## System Health\n\n\\`\\`\\`json\n${health}\n\\`\\`\\`\n\n---\n\n## Live Project State\n\n${content}\n\n---\n\n*Report generated automatically by AUTO-001 | Hendrickson Construction, Inc.*\n`;\nreturn [{ json: { report, date: today } }];"
        }
      },
      {
        "id": "c001w",
        "name": "Commit Report",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          300
        ],
        "parameters": {
          "jsCode": "const fs = require('fs');\nconst { execSync } = require('child_process');\n\nconst report = $input.item.json.report;\nconst today = new Date().toISOString().split('T')[0];\nconst repoRoot = '/Users/buckadams/HCI_AI_Operating_System';\nconst filePath = repoRoot + '/reports/daily/' + today + '-daily-status.md';\n\nfs.writeFileSync(filePath, report, 'utf8');\n\ntry {\n  execSync('git -C ' + repoRoot + ' add ' + filePath, {stdio:'pipe'});\n  execSync('git -C ' + repoRoot + ' diff --cached --quiet || git -C ' + repoRoot + ' commit -m \"AUTO: daily-status \" + today + \" [skip ci]\"', {stdio:'pipe', shell:'/bin/bash'});\n  execSync('git -C ' + repoRoot + ' push origin main', {stdio:'pipe'});\n  return [{ json: { status: 'committed', file: filePath } }];\n} catch(e) {\n  return [{ json: { status: 'write_ok_push_failed', file: filePath, error: e.message } }];\n}"
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get Project State",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Project State": {
        "main": [
          [
            {
              "node": "Get Health",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Health": {
        "main": [
          [
            {
              "node": "Format Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Report": {
        "main": [
          [
            {
              "node": "Commit Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Buck Adams",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-08T00:27:14.130Z",
        "id": 443,
        "workflowId": "1Blqe9p0iWWimdCs",
        "versionId": "cc5c2ee6-a5a1-4557-9a6f-e7a450353d2d",
        "event": "activated",
        "userId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      },
      {
        "createdAt": "2026-07-08T00:27:14.125Z",
        "id": 442,
        "workflowId": "1Blqe9p0iWWimdCs",
        "versionId": "cc5c2ee6-a5a1-4557-9a6f-e7a450353d2d",
        "event": "deactivated",
        "userId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    ]
  }
}