03_Source_Code/workflows/n8n/AUTO-WEEKLY-REPORT_Sunday_19_00_Autonomy_Opportunities.json
{
  "updatedAt": "2026-07-03T01:06:44.826Z",
  "createdAt": "2026-06-27T20:34:08.713Z",
  "id": "06sPrar8glcwKRKn",
  "name": "AUTO-WEEKLY-REPORT \u2014 Sunday 19:00 Autonomy Opportunities",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 19 * * 0"
            }
          ]
        }
      },
      "name": "Cron Sunday 19:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ],
      "id": "b0389675-1f16-4354-95bc-cb5a1fd9883d"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/v1/services/autonomy/report",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Get Autonomy Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fCSKMz294hUajaxu",
          "name": "HCI Gateway API Key"
        }
      },
      "id": "e8f12e8c-35e2-4a44-898d-4dab877660cd"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/v1/services/autonomy/backlog",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Get Full Backlog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fCSKMz294hUajaxu",
          "name": "HCI Gateway API Key"
        }
      },
      "id": "eb3cf41a-186d-4c1e-9b8a-79e3cd9cc45f"
    },
    {
      "parameters": {
        "jsCode": "const report = $('Get Autonomy Report').first().json;const backlog = $('Get Full Backlog').first().json;const today = new Date().toISOString().split('T')[0];const top3 = (report.top_opportunities || []).slice(0, 3);const topList = top3.map((o, i) => `${i+1}. **${o.title}** (ROI: ${o.roi_score || 'N/A'} min/wk)\n   ${o.description || ''}`).join('\n\n') || 'No new opportunities this week.';const backlogItems = (backlog.opportunities || []);const totalROI = backlogItems.reduce((sum, o) => sum + (parseFloat(o.roi_score) || 0), 0);const implemented = backlogItems.filter(o => o.status === 'implemented').length;const pending = backlogItems.filter(o => o.status === 'backlog').length;const md = `# HCI AI \u2014 Weekly Automation Opportunities\n**${today}**\n\n## Top 3 This Week\n\n${topList}\n\n## Backlog Summary\n- Total opportunities tracked: ${backlogItems.length}\n- Implemented: ${implemented}\n- Pending: ${pending}\n- Cumulative ROI potential: ${Math.round(totalROI)} min/wk (${Math.round(totalROI/60 * 52)} hrs/yr)\n\n---\n*Generated: ${new Date().toISOString()} by AUTO-WEEKLY-REPORT*`;const pushMsg = top3.length > 0  ? `Top opportunity: ${top3[0].title} (${top3[0].roi_score || '?'} min/wk ROI)`  : 'No new automation opportunities detected this week';return [{ json: { md, pushMsg, top3_count: top3.length, total_roi: Math.round(totalROI), filename: `reports/sprint/auto-opps-${today}.md` } }];"
      },
      "name": "Format Opportunities Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ],
      "id": "68056e67-63a5-41f1-85ab-b2557a2324a9"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/v1/executive/write-report",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={ \"filename\": \"{{ $json.filename }}\", \"content\": {{ JSON.stringify($json.md) }} }",
        "options": {}
      },
      "name": "Write Report to Disk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fCSKMz294hUajaxu",
          "name": "HCI Gateway API Key"
        }
      },
      "id": "cf5e8c21-5f1e-431f-b1e8-69867d1a7728"
    },
    {
      "parameters": {
        "url": "https://ntfy.sh/hci-executive",
        "method": "POST",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "Weekly Automation Opportunities Ready"
            },
            {
              "name": "Tags",
              "value": "robot,chart_with_upwards_trend"
            },
            {
              "name": "Cache",
              "value": "yes"
            },
            {
              "name": "Expires",
              "value": "24h"
            },
            {
              "name": "Actions",
              "value": "view, View Dashboard, http://host.docker.internal:8000/executive"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "raw",
        "rawBody": "={{ $json.pushMsg }} | Cumulative ROI: {{ $json.total_roi }} min/wk",
        "options": {}
      },
      "name": "Push: Opportunities Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        500
      ],
      "id": "4a4e28ab-2dde-4548-af3a-8e49775e79ef"
    }
  ],
  "connections": {
    "Cron Sunday 19:00": {
      "main": [
        [
          {
            "node": "Get Autonomy Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Full Backlog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Autonomy Report": {
      "main": [
        [
          {
            "node": "Format Opportunities Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Backlog": {
      "main": [
        [
          {
            "node": "Format Opportunities Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Opportunities Report": {
      "main": [
        [
          {
            "node": "Write Report to Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Push: Opportunities Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Cron Sunday 19:00": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "b4036fc0-f9ef-4f5c-9969-50683ceb86a1",
  "activeVersionId": "b4036fc0-f9ef-4f5c-9969-50683ceb86a1",
  "versionCounter": 3,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-27T20:34:08.713Z",
      "createdAt": "2026-06-27T20:34:08.713Z",
      "role": "workflow:owner",
      "workflowId": "06sPrar8glcwKRKn",
      "projectId": "ZyJUZXA49m8REtF6",
      "project": {
        "updatedAt": "2026-06-13T17:47:03.534Z",
        "createdAt": "2026-06-13T17:44:54.962Z",
        "id": "ZyJUZXA49m8REtF6",
        "name": "Buck Adams <buck@hendricksoninc.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-03T01:06:44.827Z",
    "createdAt": "2026-07-03T01:06:44.827Z",
    "versionId": "b4036fc0-f9ef-4f5c-9969-50683ceb86a1",
    "workflowId": "06sPrar8glcwKRKn",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 19 * * 0"
              }
            ]
          }
        },
        "name": "Cron Sunday 19:00",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          100,
          300
        ],
        "id": "b0389675-1f16-4354-95bc-cb5a1fd9883d"
      },
      {
        "parameters": {
          "url": "http://host.docker.internal:8000/api/v1/services/autonomy/report",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "name": "Get Autonomy Report",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          300,
          300
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "fCSKMz294hUajaxu",
            "name": "HCI Gateway API Key"
          }
        },
        "id": "e8f12e8c-35e2-4a44-898d-4dab877660cd"
      },
      {
        "parameters": {
          "url": "http://host.docker.internal:8000/api/v1/services/autonomy/backlog",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "name": "Get Full Backlog",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          300,
          500
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "fCSKMz294hUajaxu",
            "name": "HCI Gateway API Key"
          }
        },
        "id": "eb3cf41a-186d-4c1e-9b8a-79e3cd9cc45f"
      },
      {
        "parameters": {
          "jsCode": "const report = $('Get Autonomy Report').first().json;const backlog = $('Get Full Backlog').first().json;const today = new Date().toISOString().split('T')[0];const top3 = (report.top_opportunities || []).slice(0, 3);const topList = top3.map((o, i) => `${i+1}. **${o.title}** (ROI: ${o.roi_score || 'N/A'} min/wk)\n   ${o.description || ''}`).join('\n\n') || 'No new opportunities this week.';const backlogItems = (backlog.opportunities || []);const totalROI = backlogItems.reduce((sum, o) => sum + (parseFloat(o.roi_score) || 0), 0);const implemented = backlogItems.filter(o => o.status === 'implemented').length;const pending = backlogItems.filter(o => o.status === 'backlog').length;const md = `# HCI AI \u2014 Weekly Automation Opportunities\n**${today}**\n\n## Top 3 This Week\n\n${topList}\n\n## Backlog Summary\n- Total opportunities tracked: ${backlogItems.length}\n- Implemented: ${implemented}\n- Pending: ${pending}\n- Cumulative ROI potential: ${Math.round(totalROI)} min/wk (${Math.round(totalROI/60 * 52)} hrs/yr)\n\n---\n*Generated: ${new Date().toISOString()} by AUTO-WEEKLY-REPORT*`;const pushMsg = top3.length > 0  ? `Top opportunity: ${top3[0].title} (${top3[0].roi_score || '?'} min/wk ROI)`  : 'No new automation opportunities detected this week';return [{ json: { md, pushMsg, top3_count: top3.length, total_roi: Math.round(totalROI), filename: `reports/sprint/auto-opps-${today}.md` } }];"
        },
        "name": "Format Opportunities Report",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          500,
          400
        ],
        "id": "68056e67-63a5-41f1-85ab-b2557a2324a9"
      },
      {
        "parameters": {
          "url": "http://host.docker.internal:8000/api/v1/executive/write-report",
          "method": "POST",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyContentType": "json",
          "jsonBody": "={ \"filename\": \"{{ $json.filename }}\", \"content\": {{ JSON.stringify($json.md) }} }",
          "options": {}
        },
        "name": "Write Report to Disk",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          700,
          300
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "fCSKMz294hUajaxu",
            "name": "HCI Gateway API Key"
          }
        },
        "id": "cf5e8c21-5f1e-431f-b1e8-69867d1a7728"
      },
      {
        "parameters": {
          "url": "https://ntfy.sh/hci-executive",
          "method": "POST",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Title",
                "value": "Weekly Automation Opportunities Ready"
              },
              {
                "name": "Tags",
                "value": "robot,chart_with_upwards_trend"
              },
              {
                "name": "Cache",
                "value": "yes"
              },
              {
                "name": "Expires",
                "value": "24h"
              },
              {
                "name": "Actions",
                "value": "view, View Dashboard, http://host.docker.internal:8000/executive"
              }
            ]
          },
          "sendBody": true,
          "bodyContentType": "raw",
          "rawBody": "={{ $json.pushMsg }} | Cumulative ROI: {{ $json.total_roi }} min/wk",
          "options": {}
        },
        "name": "Push: Opportunities Summary",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          700,
          500
        ],
        "id": "4a4e28ab-2dde-4548-af3a-8e49775e79ef"
      }
    ],
    "connections": {
      "Cron Sunday 19:00": {
        "main": [
          [
            {
              "node": "Get Autonomy Report",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get Full Backlog",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Autonomy Report": {
        "main": [
          [
            {
              "node": "Format Opportunities Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Full Backlog": {
        "main": [
          [
            {
              "node": "Format Opportunities Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Opportunities Report": {
        "main": [
          [
            {
              "node": "Write Report to Disk",
              "type": "main",
              "index": 0
            },
            {
              "node": "Push: Opportunities Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Buck Adams",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-03T01:06:44.858Z",
        "id": 258,
        "workflowId": "06sPrar8glcwKRKn",
        "versionId": "b4036fc0-f9ef-4f5c-9969-50683ceb86a1",
        "event": "activated",
        "userId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      },
      {
        "createdAt": "2026-07-03T01:06:44.849Z",
        "id": 257,
        "workflowId": "06sPrar8glcwKRKn",
        "versionId": "b4036fc0-f9ef-4f5c-9969-50683ceb86a1",
        "event": "deactivated",
        "userId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    ]
  }
}