03_Source_Code/workflows/n8n/AUTO-010_Weekly_Sprint_Review_Summary_OLD_DEACTIVATED.json
{
  "updatedAt": "2026-07-07T06:30:04.265Z",
  "createdAt": "2026-06-27T16:58:50.754Z",
  "id": "Blt32qhKBJvox0SR",
  "name": "AUTO-010 Weekly Sprint Review Summary",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "43b15a36-4f1b-4b85-a3e2-94f2b4f139b2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 7 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "7abb4c59-5497-4c76-a8bc-8fef27a0542c",
      "name": "Get Mining Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8000/api/v1/services/mining/summary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "hci-01253a2b0f87dbd03346bba60f0c31d7350e5c75b17c866c"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "fCSKMz294hUajaxu",
          "name": "HCI Gateway API Key"
        }
      }
    },
    {
      "id": "34aef402-a610-4c27-a313-5377c2542812",
      "name": "Get Approval Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8000/api/v1/services/approval-queue/summary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "hci-01253a2b0f87dbd03346bba60f0c31d7350e5c75b17c866c"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "fCSKMz294hUajaxu",
          "name": "HCI Gateway API Key"
        }
      }
    },
    {
      "id": "88a54d07-5c77-4d54-ab37-657ec8b2e041",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "jsCode": "\nconst today = new Date().toISOString().split('T')[0];\nconst mining = $('Get Mining Summary').item.json;\nconst queue  = $('Get Approval Queue').item.json;\nconst report = `# Weekly Sprint Review \u2014 ${today}\n## HCI AI Operating System | Sprint 2 \u2014 Registry Consolidation\n\n**Generated:** ${new Date().toISOString()}\n\n---\n\n## Mining Engine (Last 24h)\n\n- **Miners ran:** ${mining.miners_ran_today ?? 'N/A'}\n- **Intelligence extracted:** ${mining.total_intelligence_extracted ?? 'N/A'}\n\n${(mining.miners || []).map(m => `- ${m.name}: ${m.status} (extracted: ${m.extracted})`).join('\\n')}\n\n---\n\n## Approval Queue\n\n- **Pending:** ${queue.pending_count ?? queue.pending ?? 'N/A'}\n- **Total this week:** ${queue.total ?? 'N/A'}\n\n---\n\n*AUTO-010 Weekly Sprint Review | Hendrickson Construction, Inc.*\n`;\nreturn [{ json: { report, filename: `reports/sprint/weekly-${today}.md` } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "39c7cfd8-6909-412c-a58b-8384ae8122eb",
      "name": "Write & Commit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ],
      "parameters": {
        "jsCode": "\nconst fs = require('fs');\nconst { execSync } = require('child_process');\nconst report = $input.item.json.report;\nconst filename = $input.item.json.filename;\nconst repoRoot = '/Users/buckadams/HCI_AI_Operating_System';\nconst filePath = repoRoot + '/' + filename;\nfs.mkdirSync(require('path').dirname(filePath), { recursive: true });\nfs.writeFileSync(filePath, report, 'utf8');\ntry {\n  execSync(`git -C ${repoRoot} add \"${filePath}\"`, {stdio:'pipe'});\n  execSync(`git -C ${repoRoot} diff --cached --quiet || git -C ${repoRoot} commit -m \"AUTO: ${filename.split('/').pop()} [skip ci]\"`, {stdio:'pipe'});\n} catch(e) {}\nreturn [{ json: { written: filePath, report } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "3fa7de23-5ae8-4b5c-bdb7-362872f635b8",
      "name": "Email Buck",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "I9EZEhr72Zo6vPWX",
          "name": "Microsoft Outlook account"
        }
      },
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toRecipients": "buck@hendricksoninc.com",
        "subject": "=\ud83d\udcca Weekly Sprint Review \u2014 {{ new Date().toISOString().split('T')[0] }}",
        "bodyContent": "=<pre style='font-family:monospace;font-size:13px'>{{ $('Format Report').item.json.report }}</pre>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "webhookId": "204ecfc6-6185-4a54-85bd-4c39db418a4f"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Mining Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Mining Summary": {
      "main": [
        [
          {
            "node": "Get Approval Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Approval Queue": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "Write & Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write & Commit": {
      "main": [
        [
          {
            "node": "Email Buck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "da06103b-4aa9-4f99-a5a8-641b3aa47c05",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-27T16:58:50.755Z",
      "createdAt": "2026-06-27T16:58:50.755Z",
      "role": "workflow:owner",
      "workflowId": "Blt32qhKBJvox0SR",
      "projectId": "ZyJUZXA49m8REtF6",
      "project": {
        "updatedAt": "2026-06-13T17:47:03.534Z",
        "createdAt": "2026-06-13T17:44:54.962Z",
        "id": "ZyJUZXA49m8REtF6",
        "name": "Buck Adams <buck@hendricksoninc.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}