03_Source_Code/workflows/n8n/AUTO-BID-INVITATION-TASKS.json
{
  "updatedAt": "2026-07-07T06:09:33.999Z",
  "createdAt": "2026-06-27T23:34:53.631Z",
  "id": "k6n0FNUF8JoNVLth",
  "name": "AUTO-BID-INVITATION-TASKS \u2014 Sent Out Stage \u2192 Auto-Task Creation",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8,12,16 * * 1-5"
            }
          ]
        }
      },
      "id": "trigger-poll",
      "name": "Poll 3x Daily (Weekdays)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/deals/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"filterGroups\": [{ \"filters\": [{ \"propertyName\": \"dealstage\", \"operator\": \"EQ\", \"value\": \"3524209346\" }] }], \"properties\": [\"dealname\", \"dealstage\", \"package_name\", \"tradescope\", \"estimator\", \"createdate\", \"hs_lastmodifieddate\"], \"limit\": 50 }",
        "options": {},
        "contentType": "json"
      },
      "id": "fetch-sent-out-deals",
      "name": "Fetch Sent Out Deals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "kY88ehAjh5rwI41x",
          "name": "HubSpot API Key (Header Auth)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter deals modified in last 4 hours (to catch newly moved deals)\n// and check if bid invitation task was already created\nconst results = $input.first().json;\nconst deals = results.results || [];\nconst cutoff = new Date(Date.now() - 4 * 60 * 60 * 1000);\n\nconst newDeals = deals.filter(d => {\n  const modified = new Date(d.properties.hs_lastmodifieddate);\n  return modified > cutoff;\n});\n\nreturn newDeals.map(d => ({\n  json: {\n    deal_id: d.id,\n    deal_name: d.properties.dealname,\n    package_name: d.properties.package_name || '',\n    tradescope: d.properties.tradescope || '',\n    estimator: d.properties.estimator || 'Unassigned',\n    modified: d.properties.hs_lastmodifieddate,\n  }\n}));"
      },
      "id": "filter-new-deals",
      "name": "Filter Recently Moved Deals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $input.all().length }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "has-new-deals",
      "name": "New Deals to Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        304
      ]
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/deals/{{ $json.deal_id }}/associations/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {}
      },
      "id": "fetch-contacts",
      "name": "Fetch Associated Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "kY88ehAjh5rwI41x",
          "name": "HubSpot API Key (Header Auth)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Create task payload for each associated contact\nconst dealData = $('Filter Recently Moved Deals').item.json;\nconst contactResp = $input.first().json;\nconst contacts = contactResp.results || [];\n\nconst dueDate = new Date();\ndueDate.setDate(dueDate.getDate() + 3);\nconst dueDateMs = dueDate.getTime();\n\nif (contacts.length === 0) {\n  return [{ json: { skip: true, deal_name: dealData.deal_name, reason: 'No contacts associated' } }];\n}\n\nreturn contacts.map(c => ({\n  json: {\n    contact_id: c.id,\n    deal_id: dealData.deal_id,\n    deal_name: dealData.deal_name,\n    tradescope: dealData.tradescope,\n    task_subject: `Bid Invitation: ${dealData.deal_name} \u2014 ${dealData.tradescope || dealData.package_name}`,\n    task_body: `Bid package sent out. Follow up with sub to confirm receipt and interest. Estimator: ${dealData.estimator}.`,\n    due_date_ms: dueDateMs,\n  }\n}));"
      },
      "id": "build-tasks",
      "name": "Build Task Payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { hs_task_subject: $json.task_subject, hs_task_body: $json.task_body, hs_timestamp: $json.due_date_ms, hs_task_status: 'NOT_STARTED', hs_task_type: 'TODO' }, associations: [{ to: { id: $json.deal_id }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 216 }] }, { to: { id: $json.contact_id }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 204 }] }] }) }}",
        "options": {},
        "contentType": "json"
      },
      "id": "create-task",
      "name": "Create HubSpot Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "kY88ehAjh5rwI41x",
          "name": "HubSpot API Key (Header Auth)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\nconst created = all.filter(i => i.json.id).length;\nconst deals = [...new Set(all.map(i => i.json.deal_name || '?'))];\nreturn [{ json: {\n  message: `Bid tasks created: ${created} tasks for deals: ${deals.join(', ')}`,\n  count: created,\n}}];"
      },
      "id": "summarize",
      "name": "Summarize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/hci-executive",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "Bid Invitation Tasks Created"
            },
            {
              "name": "Priority",
              "value": "default"
            },
            {
              "name": "Content-Type",
              "value": "text/plain"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "={{ $json.message }}",
        "options": {}
      },
      "id": "ntfy-tasks",
      "name": "Notify \u2014 Tasks Created",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        240
      ]
    }
  ],
  "connections": {
    "Poll 3x Daily (Weekdays)": {
      "main": [
        [
          {
            "node": "Fetch Sent Out Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sent Out Deals": {
      "main": [
        [
          {
            "node": "Filter Recently Moved Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Recently Moved Deals": {
      "main": [
        [
          {
            "node": "New Deals to Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Deals to Process?": {
      "main": [
        [
          {
            "node": "Fetch Associated Contacts",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch Associated Contacts": {
      "main": [
        [
          {
            "node": "Build Task Payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Task Payloads": {
      "main": [
        [
          {
            "node": "Create HubSpot Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HubSpot Task": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Notify \u2014 Tasks Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Poll 3x Daily (Weekdays)": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "13aae3c3-7c7b-4776-a8fb-2abf234a8e15",
  "activeVersionId": "13aae3c3-7c7b-4776-a8fb-2abf234a8e15",
  "versionCounter": 8,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-27T23:34:53.632Z",
      "createdAt": "2026-06-27T23:34:53.632Z",
      "role": "workflow:owner",
      "workflowId": "k6n0FNUF8JoNVLth",
      "projectId": "ZyJUZXA49m8REtF6",
      "project": {
        "updatedAt": "2026-06-13T17:47:03.534Z",
        "createdAt": "2026-06-13T17:44:54.962Z",
        "id": "ZyJUZXA49m8REtF6",
        "name": "Buck Adams <buck@hendricksoninc.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-07T06:09:33.999Z",
    "createdAt": "2026-07-07T06:09:33.999Z",
    "versionId": "13aae3c3-7c7b-4776-a8fb-2abf234a8e15",
    "workflowId": "k6n0FNUF8JoNVLth",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 8,12,16 * * 1-5"
              }
            ]
          }
        },
        "id": "trigger-poll",
        "name": "Poll 3x Daily (Weekdays)",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          112,
          304
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/deals/search",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={ \"filterGroups\": [{ \"filters\": [{ \"propertyName\": \"dealstage\", \"operator\": \"EQ\", \"value\": \"3524209346\" }] }], \"properties\": [\"dealname\", \"dealstage\", \"package_name\", \"tradescope\", \"estimator\", \"createdate\", \"hs_lastmodifieddate\"], \"limit\": 50 }",
          "options": {},
          "contentType": "json"
        },
        "id": "fetch-sent-out-deals",
        "name": "Fetch Sent Out Deals",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          352,
          304
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "kY88ehAjh5rwI41x",
            "name": "HubSpot API Key (Header Auth)"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Filter deals modified in last 4 hours (to catch newly moved deals)\n// and check if bid invitation task was already created\nconst results = $input.first().json;\nconst deals = results.results || [];\nconst cutoff = new Date(Date.now() - 4 * 60 * 60 * 1000);\n\nconst newDeals = deals.filter(d => {\n  const modified = new Date(d.properties.hs_lastmodifieddate);\n  return modified > cutoff;\n});\n\nreturn newDeals.map(d => ({\n  json: {\n    deal_id: d.id,\n    deal_name: d.properties.dealname,\n    package_name: d.properties.package_name || '',\n    tradescope: d.properties.tradescope || '',\n    estimator: d.properties.estimator || 'Unassigned',\n    modified: d.properties.hs_lastmodifieddate,\n  }\n}));"
        },
        "id": "filter-new-deals",
        "name": "Filter Recently Moved Deals",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          304
        ]
      },
      {
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{ $input.all().length }}",
                "operation": "larger"
              }
            ]
          }
        },
        "id": "has-new-deals",
        "name": "New Deals to Process?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          800,
          304
        ]
      },
      {
        "parameters": {
          "url": "=https://api.hubapi.com/crm/v3/objects/deals/{{ $json.deal_id }}/associations/contacts",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": []
          },
          "options": {}
        },
        "id": "fetch-contacts",
        "name": "Fetch Associated Contacts",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1024,
          240
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "kY88ehAjh5rwI41x",
            "name": "HubSpot API Key (Header Auth)"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Create task payload for each associated contact\nconst dealData = $('Filter Recently Moved Deals').item.json;\nconst contactResp = $input.first().json;\nconst contacts = contactResp.results || [];\n\nconst dueDate = new Date();\ndueDate.setDate(dueDate.getDate() + 3);\nconst dueDateMs = dueDate.getTime();\n\nif (contacts.length === 0) {\n  return [{ json: { skip: true, deal_name: dealData.deal_name, reason: 'No contacts associated' } }];\n}\n\nreturn contacts.map(c => ({\n  json: {\n    contact_id: c.id,\n    deal_id: dealData.deal_id,\n    deal_name: dealData.deal_name,\n    tradescope: dealData.tradescope,\n    task_subject: `Bid Invitation: ${dealData.deal_name} \u2014 ${dealData.tradescope || dealData.package_name}`,\n    task_body: `Bid package sent out. Follow up with sub to confirm receipt and interest. Estimator: ${dealData.estimator}.`,\n    due_date_ms: dueDateMs,\n  }\n}));"
        },
        "id": "build-tasks",
        "name": "Build Task Payloads",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1248,
          240
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.hubapi.com/crm/v3/objects/tasks",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ properties: { hs_task_subject: $json.task_subject, hs_task_body: $json.task_body, hs_timestamp: $json.due_date_ms, hs_task_status: 'NOT_STARTED', hs_task_type: 'TODO' }, associations: [{ to: { id: $json.deal_id }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 27 }] }, { to: { id: $json.contact_id }, types: [{ associationCategory: 'HUBSPOT_DEFINED', associationTypeId: 204 }] }] }) }}",
          "options": {},
          "contentType": "json"
        },
        "id": "create-task",
        "name": "Create HubSpot Task",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1472,
          240
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "kY88ehAjh5rwI41x",
            "name": "HubSpot API Key (Header Auth)"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const all = $input.all();\nconst created = all.filter(i => i.json.id).length;\nconst deals = [...new Set(all.map(i => i.json.deal_name || '?'))];\nreturn [{ json: {\n  message: `Bid tasks created: ${created} tasks for deals: ${deals.join(', ')}`,\n  count: created,\n}}];"
        },
        "id": "summarize",
        "name": "Summarize",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1680,
          240
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://ntfy.sh/hci-executive",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Title",
                "value": "Bid Invitation Tasks Created"
              },
              {
                "name": "Priority",
                "value": "default"
              },
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "text/plain",
          "body": "={{ $json.message }}",
          "options": {}
        },
        "id": "ntfy-tasks",
        "name": "Notify \u2014 Tasks Created",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1904,
          240
        ]
      }
    ],
    "connections": {
      "Poll 3x Daily (Weekdays)": {
        "main": [
          [
            {
              "node": "Fetch Sent Out Deals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Sent Out Deals": {
        "main": [
          [
            {
              "node": "Filter Recently Moved Deals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Recently Moved Deals": {
        "main": [
          [
            {
              "node": "New Deals to Process?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "New Deals to Process?": {
        "main": [
          [
            {
              "node": "Fetch Associated Contacts",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Fetch Associated Contacts": {
        "main": [
          [
            {
              "node": "Build Task Payloads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Task Payloads": {
        "main": [
          [
            {
              "node": "Create HubSpot Task",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create HubSpot Task": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize": {
        "main": [
          [
            {
              "node": "Notify \u2014 Tasks Created",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Buck Adams",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-07T06:09:34.020Z",
        "id": 332,
        "workflowId": "k6n0FNUF8JoNVLth",
        "versionId": "13aae3c3-7c7b-4776-a8fb-2abf234a8e15",
        "event": "activated",
        "userId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      },
      {
        "createdAt": "2026-07-07T06:09:34.016Z",
        "id": 331,
        "workflowId": "k6n0FNUF8JoNVLth",
        "versionId": "13aae3c3-7c7b-4776-a8fb-2abf234a8e15",
        "event": "deactivated",
        "userId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    ]
  }
}