03_Source_Code/workflows/n8n/AUTO-WEEKLY-REGISTRY.json
{
  "name": "AUTO-011 — Monday 07:30 Registry Duplicate Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "30 7 * * 1" }]
        }
      },
      "name": "Cron Monday 07:30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/v1/executive/registry-health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Check Registry Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [300, 300],
      "credentials": { "httpHeaderAuth": { "name": "HCI API Key" } }
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/v1/services/connectors/health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Check Connector Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [300, 500],
      "credentials": { "httpHeaderAuth": { "name": "HCI API Key" } }
    },
    {
      "parameters": {
        "jsCode": "const reg = $('Check Registry Health').first().json;\nconst conn = $('Check Connector Health').first().json;\n\nconst issues = [];\nif (reg.duplicate_count > 0) issues.push(`${reg.duplicate_count} duplicate registry entries`);\nif (reg.stale_count > 0) issues.push(`${reg.stale_count} stale connectors (>48h)`);\nif (conn.status !== 'ok') issues.push(`Connector health: ${conn.status}`);\n\nconst hasIssues = issues.length > 0;\nconst summary = hasIssues ? issues.join(' | ') : 'All registries clean';\n\nreturn [{ json: { hasIssues, issues, summary, reg_status: reg.status, conn_status: conn.status } }];"
      },
      "name": "Assess Registry Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [{
            "id": "has_issues",
            "leftValue": "={{ $json.hasIssues }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "equals" }
          }]
        }
      },
      "name": "Has Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 400]
    },
    {
      "parameters": {
        "url": "https://ntfy.sh/hci-executive",
        "method": "POST",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Title", "value": "Registry Issues Detected" },
            { "name": "Tags", "value": "warning,card_index" },
            { "name": "Cache", "value": "yes" },
            { "name": "Expires", "value": "24h" },
            { "name": "Actions", "value": "view, Review Dashboard, http://localhost:8000/executive" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "raw",
        "rawBody": "={{ $json.summary }}",
        "options": {}
      },
      "name": "Push: Registry Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Cron Monday 07:30": {
      "main": [[
        { "node": "Check Registry Health", "type": "main", "index": 0 },
        { "node": "Check Connector Health", "type": "main", "index": 0 }
      ]]
    },
    "Check Registry Health": { "main": [[{ "node": "Assess Registry Status", "type": "main", "index": 0 }]] },
    "Check Connector Health": { "main": [[{ "node": "Assess Registry Status", "type": "main", "index": 0 }]] },
    "Assess Registry Status": { "main": [[{ "node": "Has Issues?", "type": "main", "index": 0 }]] },
    "Has Issues?": {
      "main": [
        [{ "node": "Push: Registry Alert", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "weekly-ops" }, { "name": "registry" }],
  "_hci_notes": "AUTO-011 — Monday 07:30. Checks integration registry for duplicates + stale connectors. Checks connector health. Only alerts if issues found. Silent if all clean."
}
