03_Source_Code/workflows/n8n/AUTO-013_Monday_08_30_HubSpot_Drive_Reconciliation.json
{
  "updatedAt": "2026-07-03T01:06:45.061Z",
  "createdAt": "2026-06-30T04:44:01.086Z",
  "id": "BIwIL6PB6yOR6qdp",
  "name": "AUTO-013 \u2014 Monday 08:30 HubSpot/Drive Reconciliation",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 8 * * 1"
            }
          ]
        }
      },
      "name": "Cron Monday 08:30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ],
      "id": "c99286a0-ef16-4943-be4e-82a40f22ef24"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/v1/executive/dashboard",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Get Project List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fCSKMz294hUajaxu",
          "name": "HCI Gateway API Key"
        }
      },
      "id": "1c2eb980-3b8d-4b57-a23f-0c0d83574135"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/v1/services/connectors/hubspot/sync-state",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Get HubSpot Sync State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fCSKMz294hUajaxu",
          "name": "HCI Gateway API Key"
        }
      },
      "id": "cbdbd737-4aef-4daf-acd0-f79365bf23e8"
    },
    {
      "parameters": {
        "jsCode": "const dashboard = $('Get Project List').first().json;\nconst hubspot = $('Get HubSpot Sync State').first().json;\n\nconst projects = dashboard.projects || [];\nconst hsStates = hubspot.sync_states || [];\n\n// Check which entity types have never synced\nconst neverSynced = hsStates.filter(s => !s.last_synced_at).map(s => s.entity_type);\nconst lastSync = hsStates.filter(s => s.last_synced_at).reduce((max, s) => {\n  const t = new Date(s.last_synced_at).getTime();\n  return t > max.ts ? { ts: t, dt: s.last_synced_at } : max;\n}, { ts: 0, dt: null });\n\nconst ageHours = lastSync.dt ? (Date.now() - lastSync.ts) / 3600000 : null;\nconst stale = ageHours && ageHours > 48;\n\nconst issues = [];\nif (neverSynced.length > 0) issues.push(`HubSpot never synced: ${neverSynced.join(', ')}`);\nif (stale) issues.push(`HubSpot last sync ${Math.round(ageHours)}h ago \u2014 trigger /connectors/hubspot/sync`);\nif (projects.length === 0) issues.push('No projects found in dashboard');\n\nconst summary = issues.length > 0 ? issues.join(' | ') : `HubSpot current (${Math.round(ageHours || 0)}h ago) | ${projects.length} projects active`;\n\nreturn [{ json: { hasIssues: issues.length > 0, issues, summary, project_count: projects.length, never_synced: neverSynced } }];"
      },
      "name": "Reconcile HubSpot vs Projects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ],
      "id": "e33c1303-a0fb-470f-b2ba-9de53e05c670"
    },
    {
      "parameters": {
        "url": "https://ntfy.sh/hci-executive",
        "method": "POST",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "={{ $json.hasIssues ? 'HubSpot/Drive Sync Issues' : 'HubSpot Reconciliation OK' }}"
            },
            {
              "name": "Tags",
              "value": "={{ $json.hasIssues ? 'warning,arrows_counterclockwise' : 'white_check_mark,arrows_counterclockwise' }}"
            },
            {
              "name": "Cache",
              "value": "yes"
            },
            {
              "name": "Expires",
              "value": "24h"
            },
            {
              "name": "Actions",
              "value": "view, Dashboard, http://host.docker.internal:8000/executive; http, Sync HubSpot Now, http://host.docker.internal:8000/api/v1/services/connectors/hubspot/sync, method=POST, clear=true"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "raw",
        "rawBody": "={{ $json.summary }}",
        "options": {}
      },
      "name": "Push: Reconciliation Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        400
      ],
      "id": "1532cd77-01e9-4d4b-a75f-91f0ec093687"
    }
  ],
  "connections": {
    "Cron Monday 08:30": {
      "main": [
        [
          {
            "node": "Get Project List",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get HubSpot Sync State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project List": {
      "main": [
        [
          {
            "node": "Reconcile HubSpot vs Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get HubSpot Sync State": {
      "main": [
        [
          {
            "node": "Reconcile HubSpot vs Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reconcile HubSpot vs Projects": {
      "main": [
        [
          {
            "node": "Push: Reconciliation Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Cron Monday 08:30": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "6a46b732-7bbc-4f2d-89e9-d2f296b049d7",
  "activeVersionId": "6a46b732-7bbc-4f2d-89e9-d2f296b049d7",
  "versionCounter": 3,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-30T04:44:01.087Z",
      "createdAt": "2026-06-30T04:44:01.087Z",
      "role": "workflow:owner",
      "workflowId": "BIwIL6PB6yOR6qdp",
      "projectId": "ZyJUZXA49m8REtF6",
      "project": {
        "updatedAt": "2026-06-13T17:47:03.534Z",
        "createdAt": "2026-06-13T17:44:54.962Z",
        "id": "ZyJUZXA49m8REtF6",
        "name": "Buck Adams <buck@hendricksoninc.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-03T01:06:45.062Z",
    "createdAt": "2026-07-03T01:06:45.062Z",
    "versionId": "6a46b732-7bbc-4f2d-89e9-d2f296b049d7",
    "workflowId": "BIwIL6PB6yOR6qdp",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "30 8 * * 1"
              }
            ]
          }
        },
        "name": "Cron Monday 08:30",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          100,
          300
        ],
        "id": "c99286a0-ef16-4943-be4e-82a40f22ef24"
      },
      {
        "parameters": {
          "url": "http://host.docker.internal:8000/api/v1/executive/dashboard",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "name": "Get Project List",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          300,
          300
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "fCSKMz294hUajaxu",
            "name": "HCI Gateway API Key"
          }
        },
        "id": "1c2eb980-3b8d-4b57-a23f-0c0d83574135"
      },
      {
        "parameters": {
          "url": "http://host.docker.internal:8000/api/v1/services/connectors/hubspot/sync-state",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "name": "Get HubSpot Sync State",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          300,
          500
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "fCSKMz294hUajaxu",
            "name": "HCI Gateway API Key"
          }
        },
        "id": "cbdbd737-4aef-4daf-acd0-f79365bf23e8"
      },
      {
        "parameters": {
          "jsCode": "const dashboard = $('Get Project List').first().json;\nconst hubspot = $('Get HubSpot Sync State').first().json;\n\nconst projects = dashboard.projects || [];\nconst hsStates = hubspot.sync_states || [];\n\n// Check which entity types have never synced\nconst neverSynced = hsStates.filter(s => !s.last_synced_at).map(s => s.entity_type);\nconst lastSync = hsStates.filter(s => s.last_synced_at).reduce((max, s) => {\n  const t = new Date(s.last_synced_at).getTime();\n  return t > max.ts ? { ts: t, dt: s.last_synced_at } : max;\n}, { ts: 0, dt: null });\n\nconst ageHours = lastSync.dt ? (Date.now() - lastSync.ts) / 3600000 : null;\nconst stale = ageHours && ageHours > 48;\n\nconst issues = [];\nif (neverSynced.length > 0) issues.push(`HubSpot never synced: ${neverSynced.join(', ')}`);\nif (stale) issues.push(`HubSpot last sync ${Math.round(ageHours)}h ago \u2014 trigger /connectors/hubspot/sync`);\nif (projects.length === 0) issues.push('No projects found in dashboard');\n\nconst summary = issues.length > 0 ? issues.join(' | ') : `HubSpot current (${Math.round(ageHours || 0)}h ago) | ${projects.length} projects active`;\n\nreturn [{ json: { hasIssues: issues.length > 0, issues, summary, project_count: projects.length, never_synced: neverSynced } }];"
        },
        "name": "Reconcile HubSpot vs Projects",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          500,
          400
        ],
        "id": "e33c1303-a0fb-470f-b2ba-9de53e05c670"
      },
      {
        "parameters": {
          "url": "https://ntfy.sh/hci-executive",
          "method": "POST",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Title",
                "value": "={{ $json.hasIssues ? 'HubSpot/Drive Sync Issues' : 'HubSpot Reconciliation OK' }}"
              },
              {
                "name": "Tags",
                "value": "={{ $json.hasIssues ? 'warning,arrows_counterclockwise' : 'white_check_mark,arrows_counterclockwise' }}"
              },
              {
                "name": "Cache",
                "value": "yes"
              },
              {
                "name": "Expires",
                "value": "24h"
              },
              {
                "name": "Actions",
                "value": "view, Dashboard, http://host.docker.internal:8000/executive; http, Sync HubSpot Now, http://host.docker.internal:8000/api/v1/services/connectors/hubspot/sync, method=POST, clear=true"
              }
            ]
          },
          "sendBody": true,
          "bodyContentType": "raw",
          "rawBody": "={{ $json.summary }}",
          "options": {}
        },
        "name": "Push: Reconciliation Report",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          700,
          400
        ],
        "id": "1532cd77-01e9-4d4b-a75f-91f0ec093687"
      }
    ],
    "connections": {
      "Cron Monday 08:30": {
        "main": [
          [
            {
              "node": "Get Project List",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get HubSpot Sync State",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Project List": {
        "main": [
          [
            {
              "node": "Reconcile HubSpot vs Projects",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get HubSpot Sync State": {
        "main": [
          [
            {
              "node": "Reconcile HubSpot vs Projects",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reconcile HubSpot vs Projects": {
        "main": [
          [
            {
              "node": "Push: Reconciliation Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Buck Adams",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-03T01:06:45.074Z",
        "id": 264,
        "workflowId": "BIwIL6PB6yOR6qdp",
        "versionId": "6a46b732-7bbc-4f2d-89e9-d2f296b049d7",
        "event": "activated",
        "userId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      },
      {
        "createdAt": "2026-07-03T01:06:45.071Z",
        "id": 263,
        "workflowId": "BIwIL6PB6yOR6qdp",
        "versionId": "6a46b732-7bbc-4f2d-89e9-d2f296b049d7",
        "event": "deactivated",
        "userId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    ]
  }
}