03_Source_Code/workflows/n8n/AUTO-WEEKLY-LINKS.json
{
  "updatedAt": "2026-07-07T06:31:19.905Z",
  "createdAt": "2026-06-30T04:44:01.107Z",
  "id": "l5zaI1kA47Rg475E",
  "name": "AUTO-012 \u2014 Monday 08:00 Broken Link Check",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "name": "Cron Monday 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ],
      "id": "694026a2-e418-4e51-974c-030389d79a38"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/v1/services/connectors/hubspot/sync-state",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Check HubSpot Connector",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fCSKMz294hUajaxu",
          "name": "HCI Gateway API Key"
        }
      },
      "id": "af96c471-a8e6-48c3-87b2-d494e60210d3"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/v1/services/connectors/houzz/sync-state",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Check Houzz Connector",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fCSKMz294hUajaxu",
          "name": "HCI Gateway API Key"
        }
      },
      "id": "6a814f2e-621f-4b3a-87ed-83ca774f24fd"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/health",
        "options": {}
      },
      "name": "Check API Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        600
      ],
      "id": "698f09f8-b13d-4a32-8aa6-acbc0ff3171b"
    },
    {
      "parameters": {
        "jsCode": "const hs = $('Check HubSpot Connector').first().json;\nconst hz = $('Check Houzz Connector').first().json;\nconst api = $('Check API Health').first().json;\n\nconst links = [];\nconst broken = [];\n\n// HubSpot connector\nconst hsStates = hs.sync_states || [];\nconst hsOk = hsStates.length > 0;\nlinks.push({ name: 'HubSpot connector', ok: hsOk, detail: `${hsStates.length} entity states tracked` });\nif (!hsOk) broken.push('HubSpot connector unreachable');\n\n// Houzz connector\nconst hzStates = hz.sync_states || [];\nconst hzOk = hzStates.length > 0;\nlinks.push({ name: 'Houzz connector', ok: hzOk, detail: `${hzStates.length} entity states tracked` });\nif (!hzOk) broken.push('Houzz connector unreachable');\n\n// API\nconst apiOk = api.status === 'healthy';\nlinks.push({ name: 'HCI AI API', ok: apiOk, detail: api.status || 'unknown' });\nif (!apiOk) broken.push(`API status: ${api.status}`);\n\nconst summary = broken.length === 0\n  ? `All ${links.length} integrations reachable`\n  : `${broken.length} integration(s) broken: ${broken.join('; ')}`;\n\nreturn [{ json: { hasIssues: broken.length > 0, broken, links, summary } }];"
      },
      "name": "Assess Link Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ],
      "id": "807a536d-df1b-41bc-85cf-c05f138bbac3"
    },
    {
      "parameters": {
        "url": "https://ntfy.sh/hci-executive",
        "method": "POST",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "={{ $json.hasIssues ? 'Integration Links Broken' : 'Weekly Link Check: All OK' }}"
            },
            {
              "name": "Tags",
              "value": "={{ $json.hasIssues ? 'warning,broken_heart' : 'white_check_mark,link' }}"
            },
            {
              "name": "Cache",
              "value": "yes"
            },
            {
              "name": "Expires",
              "value": "24h"
            },
            {
              "name": "Actions",
              "value": "view, Dashboard, http://host.docker.internal:8000/executive"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "raw",
        "rawBody": "={{ $json.summary }}",
        "options": {}
      },
      "name": "Push: Link Check Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        400
      ],
      "id": "3823808a-93eb-4c02-8e7e-36a6e19c027f"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        350,
        500
      ],
      "id": "sync-before-link-assess",
      "name": "Sync Before Report"
    }
  ],
  "connections": {
    "Cron Monday 08:00": {
      "main": [
        [
          {
            "node": "Check HubSpot Connector",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Houzz Connector",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check API Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check HubSpot Connector": {
      "main": [
        [
          {
            "node": "Sync Before Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Houzz Connector": {
      "main": [
        [
          {
            "node": "Sync Before Report",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check API Health": {
      "main": [
        [
          {
            "node": "Sync Before Report",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Assess Link Status": {
      "main": [
        [
          {
            "node": "Push: Link Check Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Before Report": {
      "main": [
        [
          {
            "node": "Assess Link Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Cron Monday 08:00": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "18709b4b-ba48-44bf-81b3-a807f7f7beda",
  "activeVersionId": "18709b4b-ba48-44bf-81b3-a807f7f7beda",
  "versionCounter": 4,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-30T04:44:01.107Z",
      "createdAt": "2026-06-30T04:44:01.107Z",
      "role": "workflow:owner",
      "workflowId": "l5zaI1kA47Rg475E",
      "projectId": "ZyJUZXA49m8REtF6",
      "project": {
        "updatedAt": "2026-06-13T17:47:03.534Z",
        "createdAt": "2026-06-13T17:44:54.962Z",
        "id": "ZyJUZXA49m8REtF6",
        "name": "Buck Adams <buck@hendricksoninc.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-07T06:31:19.906Z",
    "createdAt": "2026-07-07T06:31:19.906Z",
    "versionId": "18709b4b-ba48-44bf-81b3-a807f7f7beda",
    "workflowId": "l5zaI1kA47Rg475E",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 8 * * 1"
              }
            ]
          }
        },
        "name": "Cron Monday 08:00",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          100,
          300
        ],
        "id": "694026a2-e418-4e51-974c-030389d79a38"
      },
      {
        "parameters": {
          "url": "http://host.docker.internal:8000/api/v1/services/connectors/hubspot/sync-state",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "name": "Check HubSpot Connector",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          300,
          200
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "fCSKMz294hUajaxu",
            "name": "HCI Gateway API Key"
          }
        },
        "id": "af96c471-a8e6-48c3-87b2-d494e60210d3"
      },
      {
        "parameters": {
          "url": "http://host.docker.internal:8000/api/v1/services/connectors/houzz/sync-state",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "name": "Check Houzz Connector",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          300,
          400
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "fCSKMz294hUajaxu",
            "name": "HCI Gateway API Key"
          }
        },
        "id": "6a814f2e-621f-4b3a-87ed-83ca774f24fd"
      },
      {
        "parameters": {
          "url": "http://host.docker.internal:8000/health",
          "options": {}
        },
        "name": "Check API Health",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          300,
          600
        ],
        "id": "698f09f8-b13d-4a32-8aa6-acbc0ff3171b"
      },
      {
        "parameters": {
          "jsCode": "const hs = $('Check HubSpot Connector').first().json;\nconst hz = $('Check Houzz Connector').first().json;\nconst api = $('Check API Health').first().json;\n\nconst links = [];\nconst broken = [];\n\n// HubSpot connector\nconst hsStates = hs.sync_states || [];\nconst hsOk = hsStates.length > 0;\nlinks.push({ name: 'HubSpot connector', ok: hsOk, detail: `${hsStates.length} entity states tracked` });\nif (!hsOk) broken.push('HubSpot connector unreachable');\n\n// Houzz connector\nconst hzStates = hz.sync_states || [];\nconst hzOk = hzStates.length > 0;\nlinks.push({ name: 'Houzz connector', ok: hzOk, detail: `${hzStates.length} entity states tracked` });\nif (!hzOk) broken.push('Houzz connector unreachable');\n\n// API\nconst apiOk = api.status === 'healthy';\nlinks.push({ name: 'HCI AI API', ok: apiOk, detail: api.status || 'unknown' });\nif (!apiOk) broken.push(`API status: ${api.status}`);\n\nconst summary = broken.length === 0\n  ? `All ${links.length} integrations reachable`\n  : `${broken.length} integration(s) broken: ${broken.join('; ')}`;\n\nreturn [{ json: { hasIssues: broken.length > 0, broken, links, summary } }];"
        },
        "name": "Assess Link Status",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          500,
          400
        ],
        "id": "807a536d-df1b-41bc-85cf-c05f138bbac3"
      },
      {
        "parameters": {
          "url": "https://ntfy.sh/hci-executive",
          "method": "POST",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Title",
                "value": "={{ $json.hasIssues ? 'Integration Links Broken' : 'Weekly Link Check: All OK' }}"
              },
              {
                "name": "Tags",
                "value": "={{ $json.hasIssues ? 'warning,broken_heart' : 'white_check_mark,link' }}"
              },
              {
                "name": "Cache",
                "value": "yes"
              },
              {
                "name": "Expires",
                "value": "24h"
              },
              {
                "name": "Actions",
                "value": "view, Dashboard, http://host.docker.internal:8000/executive"
              }
            ]
          },
          "sendBody": true,
          "bodyContentType": "raw",
          "rawBody": "={{ $json.summary }}",
          "options": {}
        },
        "name": "Push: Link Check Result",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          700,
          400
        ],
        "id": "3823808a-93eb-4c02-8e7e-36a6e19c027f"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "numberInputs": 3,
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          350,
          500
        ],
        "id": "sync-before-link-assess",
        "name": "Sync Before Report"
      }
    ],
    "connections": {
      "Cron Monday 08:00": {
        "main": [
          [
            {
              "node": "Check HubSpot Connector",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check Houzz Connector",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check API Health",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check HubSpot Connector": {
        "main": [
          [
            {
              "node": "Sync Before Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Houzz Connector": {
        "main": [
          [
            {
              "node": "Sync Before Report",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Check API Health": {
        "main": [
          [
            {
              "node": "Sync Before Report",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Assess Link Status": {
        "main": [
          [
            {
              "node": "Push: Link Check Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sync Before Report": {
        "main": [
          [
            {
              "node": "Assess Link Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Buck Adams",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-07T06:31:19.925Z",
        "id": 408,
        "workflowId": "l5zaI1kA47Rg475E",
        "versionId": "18709b4b-ba48-44bf-81b3-a807f7f7beda",
        "event": "activated",
        "userId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      },
      {
        "createdAt": "2026-07-07T06:31:19.920Z",
        "id": 407,
        "workflowId": "l5zaI1kA47Rg475E",
        "versionId": "18709b4b-ba48-44bf-81b3-a807f7f7beda",
        "event": "deactivated",
        "userId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    ]
  }
}