03_Source_Code/workflows/n8n/AUTO-003_Sprint_Self-Status_Report.json
{
  "updatedAt": "2026-07-08T00:29:35.837Z",
  "createdAt": "2026-06-27T01:02:14.832Z",
  "id": "s1m9fvGkS53Ce2Rt",
  "name": "AUTO-003 Sprint Self-Status Report",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "s003",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "h003a",
      "name": "Get Project State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8000/project-state",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "hci-01253a2b0f87dbd03346bba60f0c31d7350e5c75b17c866c"
            }
          ]
        }
      }
    },
    {
      "id": "h003b",
      "name": "Get Projects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        680,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8000/api/v1/projects",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "hci-01253a2b0f87dbd03346bba60f0c31d7350e5c75b17c866c"
            }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "fCSKMz294hUajaxu",
          "name": "HCI Gateway API Key"
        }
      }
    },
    {
      "id": "h003c",
      "name": "Get ROI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8000/api/v1/mvp/roi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "hci-01253a2b0f87dbd03346bba60f0c31d7350e5c75b17c866c"
            }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "fCSKMz294hUajaxu",
          "name": "HCI Gateway API Key"
        }
      }
    },
    {
      "id": "c003f",
      "name": "Format Sprint Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "jsCode": "const stateData = $('Get Project State').item.json;\nconst projectsData = $('Get Projects').item.json;\nconst roiData = $('Get ROI').item.json;\nconst today = new Date().toISOString().split('T')[0];\nconst now = new Date().toISOString();\nconst projects = projectsData.projects || (Array.isArray(projectsData) ? projectsData : []);\nconst roi = roiData.total_roi_minutes || roiData.roi_minutes || '\u2014';\nconst projectList = Array.isArray(projects)\n  ? projects.map(p => `- ${p.name || p.project_name || JSON.stringify(p)}`).join('\\n')\n  : JSON.stringify(projects);\nconst snapshot = stateData.content\n  ? stateData.content.substring(0, 3000)\n  : JSON.stringify(stateData, null, 2).substring(0, 3000);\nconst report = `# Sprint Self-Status Report\n## ${today} \u2014 HCI AI Operating System\n\n**Generated:** ${now}\n**Generated by:** AUTO-003 (n8n)\n**Report for:** AI Team \u2014 Claude Code, Browser Claude, ChatGPT\n\n---\n\n## Active Projects\n\n${projectList}\n\n---\n\n## ROI Summary\n\n**Total ROI Captured:** ${roi} minutes\n\n---\n\n## Orientation for AI Team\n\n- LIVE_PROJECT_STATE.md \u2014 always check first\n- CURRENT_SPRINT.md \u2014 active sprint task board\n- TASKS.md \u2014 80-task register (41+ done)\n- reports/daily/ \u2014 yesterday's status\n- reports/health/ \u2014 this morning's health check\n\n---\n\n## Live Project State Snapshot\n\n${snapshot}\n\n---\n\n*Report generated automatically by AUTO-003 | Hendrickson Construction, Inc.*\n`;\nreturn [{ json: { report, date: today } }];"
      }
    },
    {
      "id": "c003w",
      "name": "Commit Sprint Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst { execSync } = require('child_process');\n\nconst report = $input.item.json.report;\nconst today = new Date().toISOString().split('T')[0];\nconst repoRoot = '/Users/buckadams/HCI_AI_Operating_System';\nconst filePath = repoRoot + '/reports/sprint/' + today + '-sprint-status.md';\n\nfs.writeFileSync(filePath, report, 'utf8');\n\ntry {\n  execSync('git -C ' + repoRoot + ' add ' + filePath, {stdio:'pipe'});\n  execSync('git -C ' + repoRoot + ' diff --cached --quiet || git -C ' + repoRoot + ' commit -m \"AUTO: sprint-status \" + today + \" [skip ci]\"', {stdio:'pipe', shell:'/bin/bash'});\n  execSync('git -C ' + repoRoot + ' push origin main', {stdio:'pipe'});\n  return [{ json: { status: 'committed', file: filePath } }];\n} catch(e) {\n  return [{ json: { status: 'write_ok_push_failed', file: filePath, error: e.message } }];\n}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Project State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project State": {
      "main": [
        [
          {
            "node": "Get Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Projects": {
      "main": [
        [
          {
            "node": "Get ROI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ROI": {
      "main": [
        [
          {
            "node": "Format Sprint Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Sprint Report": {
      "main": [
        [
          {
            "node": "Commit Sprint Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        0
      ]
    }
  },
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "273aa9ca-123e-4108-bb51-d1a908371d16",
  "activeVersionId": "273aa9ca-123e-4108-bb51-d1a908371d16",
  "versionCounter": 6,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-27T01:02:14.833Z",
      "createdAt": "2026-06-27T01:02:14.833Z",
      "role": "workflow:owner",
      "workflowId": "s1m9fvGkS53Ce2Rt",
      "projectId": "ZyJUZXA49m8REtF6",
      "project": {
        "updatedAt": "2026-06-13T17:47:03.534Z",
        "createdAt": "2026-06-13T17:44:54.962Z",
        "id": "ZyJUZXA49m8REtF6",
        "name": "Buck Adams <buck@hendricksoninc.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-08T00:29:35.838Z",
    "createdAt": "2026-07-08T00:29:35.838Z",
    "versionId": "273aa9ca-123e-4108-bb51-d1a908371d16",
    "workflowId": "s1m9fvGkS53Ce2Rt",
    "nodes": [
      {
        "id": "s003",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1,
        "position": [
          240,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 8 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "h003a",
        "name": "Get Project State",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          460,
          300
        ],
        "parameters": {
          "method": "GET",
          "url": "http://host.docker.internal:8000/project-state",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "hci-01253a2b0f87dbd03346bba60f0c31d7350e5c75b17c866c"
              }
            ]
          }
        }
      },
      {
        "id": "h003b",
        "name": "Get Projects",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          680,
          300
        ],
        "parameters": {
          "method": "GET",
          "url": "http://host.docker.internal:8000/api/v1/projects",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "hci-01253a2b0f87dbd03346bba60f0c31d7350e5c75b17c866c"
              }
            ]
          },
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth"
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "fCSKMz294hUajaxu",
            "name": "HCI Gateway API Key"
          }
        }
      },
      {
        "id": "h003c",
        "name": "Get ROI",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          900,
          300
        ],
        "parameters": {
          "method": "GET",
          "url": "http://host.docker.internal:8000/api/v1/mvp/roi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "hci-01253a2b0f87dbd03346bba60f0c31d7350e5c75b17c866c"
              }
            ]
          },
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth"
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "fCSKMz294hUajaxu",
            "name": "HCI Gateway API Key"
          }
        }
      },
      {
        "id": "c003f",
        "name": "Format Sprint Report",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          300
        ],
        "parameters": {
          "jsCode": "const stateData = $('Get Project State').item.json;\nconst projectsData = $('Get Projects').item.json;\nconst roiData = $('Get ROI').item.json;\nconst today = new Date().toISOString().split('T')[0];\nconst now = new Date().toISOString();\nconst projects = projectsData.projects || (Array.isArray(projectsData) ? projectsData : []);\nconst roi = roiData.total_roi_minutes || roiData.roi_minutes || '\u2014';\nconst projectList = Array.isArray(projects)\n  ? projects.map(p => `- ${p.name || p.project_name || JSON.stringify(p)}`).join('\\n')\n  : JSON.stringify(projects);\nconst snapshot = stateData.content\n  ? stateData.content.substring(0, 3000)\n  : JSON.stringify(stateData, null, 2).substring(0, 3000);\nconst report = `# Sprint Self-Status Report\n## ${today} \u2014 HCI AI Operating System\n\n**Generated:** ${now}\n**Generated by:** AUTO-003 (n8n)\n**Report for:** AI Team \u2014 Claude Code, Browser Claude, ChatGPT\n\n---\n\n## Active Projects\n\n${projectList}\n\n---\n\n## ROI Summary\n\n**Total ROI Captured:** ${roi} minutes\n\n---\n\n## Orientation for AI Team\n\n- LIVE_PROJECT_STATE.md \u2014 always check first\n- CURRENT_SPRINT.md \u2014 active sprint task board\n- TASKS.md \u2014 80-task register (41+ done)\n- reports/daily/ \u2014 yesterday's status\n- reports/health/ \u2014 this morning's health check\n\n---\n\n## Live Project State Snapshot\n\n${snapshot}\n\n---\n\n*Report generated automatically by AUTO-003 | Hendrickson Construction, Inc.*\n`;\nreturn [{ json: { report, date: today } }];"
        }
      },
      {
        "id": "c003w",
        "name": "Commit Sprint Report",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1340,
          300
        ],
        "parameters": {
          "jsCode": "const fs = require('fs');\nconst { execSync } = require('child_process');\n\nconst report = $input.item.json.report;\nconst today = new Date().toISOString().split('T')[0];\nconst repoRoot = '/Users/buckadams/HCI_AI_Operating_System';\nconst filePath = repoRoot + '/reports/sprint/' + today + '-sprint-status.md';\n\nfs.writeFileSync(filePath, report, 'utf8');\n\ntry {\n  execSync('git -C ' + repoRoot + ' add ' + filePath, {stdio:'pipe'});\n  execSync('git -C ' + repoRoot + ' diff --cached --quiet || git -C ' + repoRoot + ' commit -m \"AUTO: sprint-status \" + today + \" [skip ci]\"', {stdio:'pipe', shell:'/bin/bash'});\n  execSync('git -C ' + repoRoot + ' push origin main', {stdio:'pipe'});\n  return [{ json: { status: 'committed', file: filePath } }];\n} catch(e) {\n  return [{ json: { status: 'write_ok_push_failed', file: filePath, error: e.message } }];\n}"
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get Project State",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Project State": {
        "main": [
          [
            {
              "node": "Get Projects",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Projects": {
        "main": [
          [
            {
              "node": "Get ROI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get ROI": {
        "main": [
          [
            {
              "node": "Format Sprint Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Sprint Report": {
        "main": [
          [
            {
              "node": "Commit Sprint Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Buck Adams",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-08T00:29:35.856Z",
        "id": 465,
        "workflowId": "s1m9fvGkS53Ce2Rt",
        "versionId": "273aa9ca-123e-4108-bb51-d1a908371d16",
        "event": "activated",
        "userId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      },
      {
        "createdAt": "2026-07-08T00:29:35.850Z",
        "id": 464,
        "workflowId": "s1m9fvGkS53Ce2Rt",
        "versionId": "273aa9ca-123e-4108-bb51-d1a908371d16",
        "event": "deactivated",
        "userId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    ]
  }
}