03_Source_Code/workflows/n8n/AUTO-PM.json
{
  "name": "AUTO-PM — Daily 06:00 AI Program Manager Review",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 6 * * *" }]
        }
      },
      "name": "Cron 06:00 Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/v1/executive/missions/blocked",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Check Blocked Missions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [300, 200],
      "credentials": { "httpHeaderAuth": { "name": "HCI API Key" } }
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/v1/executive/escalation-check",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Run Escalation Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [300, 400],
      "credentials": { "httpHeaderAuth": { "name": "HCI API Key" } }
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/v1/services/connectors/health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Check Connector Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [300, 600],
      "credentials": { "httpHeaderAuth": { "name": "HCI API Key" } }
    },
    {
      "parameters": {
        "jsCode": "const blocked = $('Check Blocked Missions').first().json;\nconst escalations = $('Run Escalation Check').first().json;\nconst connectors = $('Check Connector Health').first().json;\n\nconst problems = [];\nif (blocked.blocked_count > 0) {\n  problems.push(`${blocked.blocked_count} missions BLOCKED`);\n}\nif (escalations.escalations_fired > 0) {\n  problems.push(`${escalations.escalations_fired} escalations fired`);\n}\nif (connectors.status !== 'ok') {\n  problems.push('Connector errors detected');\n}\n\nreturn [{ json: {\n  has_problems: problems.length > 0,\n  problems,\n  blocked_count: blocked.blocked_count,\n  escalations_fired: escalations.escalations_fired,\n  connector_status: connectors.status\n}}];"
      },
      "name": "Assess PM Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [{
            "id": "has_problems",
            "leftValue": "={{ $json.has_problems }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "equals" }
          }]
        }
      },
      "name": "Has Problems?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 400]
    },
    {
      "parameters": {
        "url": "https://ntfy.sh/hci-executive",
        "method": "POST",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Title", "value": "HCI AI PM Alert" },
            { "name": "Tags", "value": "warning,robot" },
            { "name": "Actions", "value": "view, Dashboard, https://speculate-armband-retinal.ngrok-free.dev/executive" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "raw",
        "rawBody": "={{ $json.problems.join(' | ') }}",
        "options": {}
      },
      "name": "Send PM Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Cron 06:00 Daily": {
      "main": [[
        { "node": "Check Blocked Missions", "type": "main", "index": 0 },
        { "node": "Run Escalation Check", "type": "main", "index": 0 },
        { "node": "Check Connector Health", "type": "main", "index": 0 }
      ]]
    },
    "Check Blocked Missions": { "main": [[{ "node": "Assess PM Status", "type": "main", "index": 0 }]] },
    "Run Escalation Check": { "main": [[{ "node": "Assess PM Status", "type": "main", "index": 0 }]] },
    "Check Connector Health": { "main": [[{ "node": "Assess PM Status", "type": "main", "index": 0 }]] },
    "Assess PM Status": { "main": [[{ "node": "Has Problems?", "type": "main", "index": 0 }]] },
    "Has Problems?": { "main": [[{ "node": "Send PM Alert", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "ai-program-manager" }],
  "_hci_notes": "Import into n8n. Requires HCI API Key credential (header X-API-Key). Runs 3 checks in parallel at 06:00: blocked missions, escalation check, connector health. Only alerts if problems found."
}
