03_Source_Code/workflows/n8n/AUTO-011_Monday_07_30_Registry_Duplicate_Check.json
{
  "updatedAt": "2026-07-03T01:06:45.394Z",
  "createdAt": "2026-06-30T04:44:01.121Z",
  "id": "b8oIeSev9h6Uzzp2",
  "name": "AUTO-011 \u2014 Monday 07:30 Registry Duplicate Check",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 7 * * 1"
            }
          ]
        }
      },
      "name": "Cron Monday 07:30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        300
      ],
      "id": "50e254a6-82eb-40a4-a44b-2c257b0ec4dc"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/v1/executive/registry-health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Check Registry Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fCSKMz294hUajaxu",
          "name": "HCI Gateway API Key"
        }
      },
      "id": "456f1c9e-0b6f-4cf2-9e5b-7076afaf22c1"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/v1/services/connectors/health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Check Connector Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fCSKMz294hUajaxu",
          "name": "HCI Gateway API Key"
        }
      },
      "id": "3ff1818d-0488-49e6-9dc4-41189f8eae17"
    },
    {
      "parameters": {
        "jsCode": "const reg = $('Check Registry Health').first().json;\nconst conn = $('Check Connector Health').first().json;\n\nconst issues = [];\nif (reg.duplicate_count > 0) issues.push(`${reg.duplicate_count} duplicate registry entries`);\nif (reg.stale_count > 0) issues.push(`${reg.stale_count} stale connectors (>48h)`);\nif (conn.status !== 'ok') issues.push(`Connector health: ${conn.status}`);\n\nconst hasIssues = issues.length > 0;\nconst summary = hasIssues ? issues.join(' | ') : 'All registries clean';\n\nreturn [{ json: { hasIssues, issues, summary, reg_status: reg.status, conn_status: conn.status } }];"
      },
      "name": "Assess Registry Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        400
      ],
      "id": "26ab8078-0b68-4e59-8231-dedd70ca0640"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "has_issues",
              "leftValue": "={{ $json.hasIssues }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "name": "Has Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        400
      ],
      "id": "df0c5fe9-b6ec-44b8-b521-6181c44973bb"
    },
    {
      "parameters": {
        "url": "https://ntfy.sh/hci-executive",
        "method": "POST",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "Registry Issues Detected"
            },
            {
              "name": "Tags",
              "value": "warning,card_index"
            },
            {
              "name": "Cache",
              "value": "yes"
            },
            {
              "name": "Expires",
              "value": "24h"
            },
            {
              "name": "Actions",
              "value": "view, Review Dashboard, http://host.docker.internal:8000/executive"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "raw",
        "rawBody": "={{ $json.summary }}",
        "options": {}
      },
      "name": "Push: Registry Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        300
      ],
      "id": "65319b25-9aa6-4dfd-a33c-f4228b5e8b07"
    }
  ],
  "connections": {
    "Cron Monday 07:30": {
      "main": [
        [
          {
            "node": "Check Registry Health",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Connector Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Registry Health": {
      "main": [
        [
          {
            "node": "Assess Registry Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Connector Health": {
      "main": [
        [
          {
            "node": "Assess Registry Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assess Registry Status": {
      "main": [
        [
          {
            "node": "Has Issues?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Issues?": {
      "main": [
        [
          {
            "node": "Push: Registry Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Cron Monday 07:30": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "c9ea0e8b-74da-4c5b-896f-7c513e63c9c6",
  "activeVersionId": "c9ea0e8b-74da-4c5b-896f-7c513e63c9c6",
  "versionCounter": 3,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-30T04:44:01.122Z",
      "createdAt": "2026-06-30T04:44:01.122Z",
      "role": "workflow:owner",
      "workflowId": "b8oIeSev9h6Uzzp2",
      "projectId": "ZyJUZXA49m8REtF6",
      "project": {
        "updatedAt": "2026-06-13T17:47:03.534Z",
        "createdAt": "2026-06-13T17:44:54.962Z",
        "id": "ZyJUZXA49m8REtF6",
        "name": "Buck Adams <buck@hendricksoninc.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-03T01:06:45.394Z",
    "createdAt": "2026-07-03T01:06:45.394Z",
    "versionId": "c9ea0e8b-74da-4c5b-896f-7c513e63c9c6",
    "workflowId": "b8oIeSev9h6Uzzp2",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "30 7 * * 1"
              }
            ]
          }
        },
        "name": "Cron Monday 07:30",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          100,
          300
        ],
        "id": "50e254a6-82eb-40a4-a44b-2c257b0ec4dc"
      },
      {
        "parameters": {
          "url": "http://host.docker.internal:8000/api/v1/executive/registry-health",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "name": "Check Registry Health",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          300,
          300
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "fCSKMz294hUajaxu",
            "name": "HCI Gateway API Key"
          }
        },
        "id": "456f1c9e-0b6f-4cf2-9e5b-7076afaf22c1"
      },
      {
        "parameters": {
          "url": "http://host.docker.internal:8000/api/v1/services/connectors/health",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "name": "Check Connector Health",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          300,
          500
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "fCSKMz294hUajaxu",
            "name": "HCI Gateway API Key"
          }
        },
        "id": "3ff1818d-0488-49e6-9dc4-41189f8eae17"
      },
      {
        "parameters": {
          "jsCode": "const reg = $('Check Registry Health').first().json;\nconst conn = $('Check Connector Health').first().json;\n\nconst issues = [];\nif (reg.duplicate_count > 0) issues.push(`${reg.duplicate_count} duplicate registry entries`);\nif (reg.stale_count > 0) issues.push(`${reg.stale_count} stale connectors (>48h)`);\nif (conn.status !== 'ok') issues.push(`Connector health: ${conn.status}`);\n\nconst hasIssues = issues.length > 0;\nconst summary = hasIssues ? issues.join(' | ') : 'All registries clean';\n\nreturn [{ json: { hasIssues, issues, summary, reg_status: reg.status, conn_status: conn.status } }];"
        },
        "name": "Assess Registry Status",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          500,
          400
        ],
        "id": "26ab8078-0b68-4e59-8231-dedd70ca0640"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true
            },
            "conditions": [
              {
                "id": "has_issues",
                "leftValue": "={{ $json.hasIssues }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ]
          }
        },
        "name": "Has Issues?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          700,
          400
        ],
        "id": "df0c5fe9-b6ec-44b8-b521-6181c44973bb"
      },
      {
        "parameters": {
          "url": "https://ntfy.sh/hci-executive",
          "method": "POST",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Title",
                "value": "Registry Issues Detected"
              },
              {
                "name": "Tags",
                "value": "warning,card_index"
              },
              {
                "name": "Cache",
                "value": "yes"
              },
              {
                "name": "Expires",
                "value": "24h"
              },
              {
                "name": "Actions",
                "value": "view, Review Dashboard, http://host.docker.internal:8000/executive"
              }
            ]
          },
          "sendBody": true,
          "bodyContentType": "raw",
          "rawBody": "={{ $json.summary }}",
          "options": {}
        },
        "name": "Push: Registry Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          900,
          300
        ],
        "id": "65319b25-9aa6-4dfd-a33c-f4228b5e8b07"
      }
    ],
    "connections": {
      "Cron Monday 07:30": {
        "main": [
          [
            {
              "node": "Check Registry Health",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check Connector Health",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Registry Health": {
        "main": [
          [
            {
              "node": "Assess Registry Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Connector Health": {
        "main": [
          [
            {
              "node": "Assess Registry Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Assess Registry Status": {
        "main": [
          [
            {
              "node": "Has Issues?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Issues?": {
        "main": [
          [
            {
              "node": "Push: Registry Alert",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Buck Adams",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-03T01:06:45.405Z",
        "id": 278,
        "workflowId": "b8oIeSev9h6Uzzp2",
        "versionId": "c9ea0e8b-74da-4c5b-896f-7c513e63c9c6",
        "event": "activated",
        "userId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      },
      {
        "createdAt": "2026-07-03T01:06:45.402Z",
        "id": 277,
        "workflowId": "b8oIeSev9h6Uzzp2",
        "versionId": "c9ea0e8b-74da-4c5b-896f-7c513e63c9c6",
        "event": "deactivated",
        "userId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    ]
  }
}