03_Source_Code/workflows/n8n/AUTO-002_Workflow_Health_Check.json
{
  "updatedAt": "2026-07-08T00:27:14.148Z",
  "createdAt": "2026-06-27T01:02:14.792Z",
  "id": "1EbteMeNL7WUoq5F",
  "name": "AUTO-002 Workflow Health Check",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "s002",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "h002",
      "name": "Get Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8000/api/v1/health",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "hci-01253a2b0f87dbd03346bba60f0c31d7350e5c75b17c866c"
            }
          ]
        }
      }
    },
    {
      "id": "c002f",
      "name": "Format Health Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "const h = $('Get Health').item.json;\nconst today = new Date().toISOString().split('T')[0];\nconst now = new Date().toISOString();\nconst services = h.services || h || {};\nconst allHealthy = typeof services === 'object'\n  ? Object.values(services).every(v => v === 'healthy' || v === 'ok' || v === true)\n  : true;\nconst rows = typeof services === 'object'\n  ? Object.entries(services).map(([k,v]) =>\n      `| ${k} | ${(v==='healthy'||v==='ok'||v===true)?'\u2705':'\u274c'} ${v} |`).join('\\n')\n  : '';\nconst report = `# Workflow Health Check\n## ${today} \u2014 HCI AI Operating System\n\n**Generated:** ${now}\n**Generated by:** AUTO-002 (n8n)\n**Overall Status:** ${allHealthy ? '\u2705 ALL HEALTHY' : '\u274c DEGRADED'}\n\n---\n\n## Service Health\n\n| Service | Status |\n|---|---|\n${rows}\n\n---\n\n## Raw Response\n\n\\`\\`\\`json\n${JSON.stringify(h, null, 2)}\n\\`\\`\\`\n\n---\n\n*Report generated automatically by AUTO-002 | Hendrickson Construction, Inc.*\n`;\nreturn [{ json: { report, date: today, allHealthy } }];"
      }
    },
    {
      "id": "c002w",
      "name": "Commit Health Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst { execSync } = require('child_process');\n\nconst report = $input.item.json.report;\nconst today = new Date().toISOString().split('T')[0];\nconst repoRoot = '/Users/buckadams/HCI_AI_Operating_System';\nconst filePath = repoRoot + '/reports/health/' + today + '-health-check.md';\n\nfs.writeFileSync(filePath, report, 'utf8');\n\ntry {\n  execSync('git -C ' + repoRoot + ' add ' + filePath, {stdio:'pipe'});\n  execSync('git -C ' + repoRoot + ' diff --cached --quiet || git -C ' + repoRoot + ' commit -m \"AUTO: health-check \" + today + \" [skip ci]\"', {stdio:'pipe', shell:'/bin/bash'});\n  execSync('git -C ' + repoRoot + ' push origin main', {stdio:'pipe'});\n  return [{ json: { status: 'committed', file: filePath } }];\n} catch(e) {\n  return [{ json: { status: 'write_ok_push_failed', file: filePath, error: e.message } }];\n}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Health": {
      "main": [
        [
          {
            "node": "Format Health Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Health Report": {
      "main": [
        [
          {
            "node": "Commit Health Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        0
      ]
    }
  },
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "90cd2f7a-ccd9-439a-aae5-46c0f3fa66b2",
  "activeVersionId": "90cd2f7a-ccd9-439a-aae5-46c0f3fa66b2",
  "versionCounter": 3,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-27T01:02:14.792Z",
      "createdAt": "2026-06-27T01:02:14.792Z",
      "role": "workflow:owner",
      "workflowId": "1EbteMeNL7WUoq5F",
      "projectId": "ZyJUZXA49m8REtF6",
      "project": {
        "updatedAt": "2026-06-13T17:47:03.534Z",
        "createdAt": "2026-06-13T17:44:54.962Z",
        "id": "ZyJUZXA49m8REtF6",
        "name": "Buck Adams <buck@hendricksoninc.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-08T00:27:14.148Z",
    "createdAt": "2026-07-08T00:27:14.148Z",
    "versionId": "90cd2f7a-ccd9-439a-aae5-46c0f3fa66b2",
    "workflowId": "1EbteMeNL7WUoq5F",
    "nodes": [
      {
        "id": "s002",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1,
        "position": [
          240,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 6 * * *"
              }
            ]
          }
        }
      },
      {
        "id": "h002",
        "name": "Get Health",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          460,
          300
        ],
        "parameters": {
          "method": "GET",
          "url": "http://host.docker.internal:8000/api/v1/health",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "hci-01253a2b0f87dbd03346bba60f0c31d7350e5c75b17c866c"
              }
            ]
          }
        }
      },
      {
        "id": "c002f",
        "name": "Format Health Report",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          680,
          300
        ],
        "parameters": {
          "jsCode": "const h = $('Get Health').item.json;\nconst today = new Date().toISOString().split('T')[0];\nconst now = new Date().toISOString();\nconst services = h.services || h || {};\nconst allHealthy = typeof services === 'object'\n  ? Object.values(services).every(v => v === 'healthy' || v === 'ok' || v === true)\n  : true;\nconst rows = typeof services === 'object'\n  ? Object.entries(services).map(([k,v]) =>\n      `| ${k} | ${(v==='healthy'||v==='ok'||v===true)?'\u2705':'\u274c'} ${v} |`).join('\\n')\n  : '';\nconst report = `# Workflow Health Check\n## ${today} \u2014 HCI AI Operating System\n\n**Generated:** ${now}\n**Generated by:** AUTO-002 (n8n)\n**Overall Status:** ${allHealthy ? '\u2705 ALL HEALTHY' : '\u274c DEGRADED'}\n\n---\n\n## Service Health\n\n| Service | Status |\n|---|---|\n${rows}\n\n---\n\n## Raw Response\n\n\\`\\`\\`json\n${JSON.stringify(h, null, 2)}\n\\`\\`\\`\n\n---\n\n*Report generated automatically by AUTO-002 | Hendrickson Construction, Inc.*\n`;\nreturn [{ json: { report, date: today, allHealthy } }];"
        }
      },
      {
        "id": "c002w",
        "name": "Commit Health Report",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          900,
          300
        ],
        "parameters": {
          "jsCode": "const fs = require('fs');\nconst { execSync } = require('child_process');\n\nconst report = $input.item.json.report;\nconst today = new Date().toISOString().split('T')[0];\nconst repoRoot = '/Users/buckadams/HCI_AI_Operating_System';\nconst filePath = repoRoot + '/reports/health/' + today + '-health-check.md';\n\nfs.writeFileSync(filePath, report, 'utf8');\n\ntry {\n  execSync('git -C ' + repoRoot + ' add ' + filePath, {stdio:'pipe'});\n  execSync('git -C ' + repoRoot + ' diff --cached --quiet || git -C ' + repoRoot + ' commit -m \"AUTO: health-check \" + today + \" [skip ci]\"', {stdio:'pipe', shell:'/bin/bash'});\n  execSync('git -C ' + repoRoot + ' push origin main', {stdio:'pipe'});\n  return [{ json: { status: 'committed', file: filePath } }];\n} catch(e) {\n  return [{ json: { status: 'write_ok_push_failed', file: filePath, error: e.message } }];\n}"
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get Health",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Health": {
        "main": [
          [
            {
              "node": "Format Health Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Health Report": {
        "main": [
          [
            {
              "node": "Commit Health Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Buck Adams",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-08T00:27:14.163Z",
        "id": 445,
        "workflowId": "1EbteMeNL7WUoq5F",
        "versionId": "90cd2f7a-ccd9-439a-aae5-46c0f3fa66b2",
        "event": "activated",
        "userId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      },
      {
        "createdAt": "2026-07-08T00:27:14.157Z",
        "id": 444,
        "workflowId": "1EbteMeNL7WUoq5F",
        "versionId": "90cd2f7a-ccd9-439a-aae5-46c0f3fa66b2",
        "event": "deactivated",
        "userId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    ]
  }
}