03_Source_Code/workflows/n8n/AUTO-BID-UPDATE-DETECTION.json
{
  "updatedAt": "2026-07-14T00:16:11.924Z",
  "createdAt": "2026-07-14T00:16:11.924Z",
  "id": "JvE1swLcdUQCXiUD",
  "name": "AUTO-BID-UPDATE-DETECTION \u2014 3x Daily Weekdays",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "s001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8,12,16 * * 1-5"
            }
          ]
        }
      }
    },
    {
      "id": "h_64EW",
      "name": "Detect Updates - 64EW",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/services/bid-leveling/projects/1/detect-bid-updates?dry_run=false",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "hci-a4fe3f56f42b981e59a98ec112c43ef975ac68c7fc0517c6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "h_101F",
      "name": "Detect Updates - 101F",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        680,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/services/bid-leveling/projects/2/detect-bid-updates?dry_run=false",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "hci-a4fe3f56f42b981e59a98ec112c43ef975ac68c7fc0517c6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "h_1355R",
      "name": "Detect Updates - 1355R",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/services/bid-leveling/projects/3/detect-bid-updates?dry_run=false",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "hci-a4fe3f56f42b981e59a98ec112c43ef975ac68c7fc0517c6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "c001",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nlet total = 0;\nfor (const it of items) { total += (it.json.updates_detected || 0); }\nreturn [{json: {checked_at: new Date().toISOString(), projects_checked: items.length, total_updates_detected: total}}];\n"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Detect Updates - 64EW",
            "type": "main",
            "index": 0
          },
          {
            "node": "Detect Updates - 101F",
            "type": "main",
            "index": 0
          },
          {
            "node": "Detect Updates - 1355R",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Updates - 64EW": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Updates - 101F": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Updates - 1355R": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "7be24fce-f9aa-4321-83e4-a9952c79aa0e",
  "activeVersionId": "7be24fce-f9aa-4321-83e4-a9952c79aa0e",
  "versionCounter": 1,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-14T00:16:11.931Z",
      "createdAt": "2026-07-14T00:16:11.931Z",
      "role": "workflow:owner",
      "workflowId": "JvE1swLcdUQCXiUD",
      "projectId": "ZyJUZXA49m8REtF6",
      "project": {
        "updatedAt": "2026-06-13T17:47:03.534Z",
        "createdAt": "2026-06-13T17:44:54.962Z",
        "id": "ZyJUZXA49m8REtF6",
        "name": "Buck Adams <buck@hendricksoninc.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-14T00:16:11.931Z",
    "createdAt": "2026-07-14T00:16:11.931Z",
    "versionId": "7be24fce-f9aa-4321-83e4-a9952c79aa0e",
    "workflowId": "JvE1swLcdUQCXiUD",
    "nodes": [
      {
        "id": "s001",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1,
        "position": [
          240,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 8,12,16 * * 1-5"
              }
            ]
          }
        }
      },
      {
        "id": "h_64EW",
        "name": "Detect Updates - 64EW",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          460,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:8000/api/v1/services/bid-leveling/projects/1/detect-bid-updates?dry_run=false",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "hci-a4fe3f56f42b981e59a98ec112c43ef975ac68c7fc0517c6"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "options": {
            "timeout": 120000
          }
        }
      },
      {
        "id": "h_101F",
        "name": "Detect Updates - 101F",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          680,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:8000/api/v1/services/bid-leveling/projects/2/detect-bid-updates?dry_run=false",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "hci-a4fe3f56f42b981e59a98ec112c43ef975ac68c7fc0517c6"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "options": {
            "timeout": 120000
          }
        }
      },
      {
        "id": "h_1355R",
        "name": "Detect Updates - 1355R",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          900,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:8000/api/v1/services/bid-leveling/projects/3/detect-bid-updates?dry_run=false",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "hci-a4fe3f56f42b981e59a98ec112c43ef975ac68c7fc0517c6"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "options": {
            "timeout": 120000
          }
        }
      },
      {
        "id": "c001",
        "name": "Log Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          300
        ],
        "parameters": {
          "jsCode": "const items = $input.all();\nlet total = 0;\nfor (const it of items) { total += (it.json.updates_detected || 0); }\nreturn [{json: {checked_at: new Date().toISOString(), projects_checked: items.length, total_updates_detected: total}}];\n"
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Detect Updates - 64EW",
              "type": "main",
              "index": 0
            },
            {
              "node": "Detect Updates - 101F",
              "type": "main",
              "index": 0
            },
            {
              "node": "Detect Updates - 1355R",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detect Updates - 64EW": {
        "main": [
          [
            {
              "node": "Log Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detect Updates - 101F": {
        "main": [
          [
            {
              "node": "Log Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detect Updates - 1355R": {
        "main": [
          [
            {
              "node": "Log Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Buck Adams",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-14T00:16:11.960Z",
        "id": 507,
        "workflowId": "JvE1swLcdUQCXiUD",
        "versionId": "7be24fce-f9aa-4321-83e4-a9952c79aa0e",
        "event": "activated",
        "userId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    ]
  }
}