03_Source_Code/workflows/n8n/AUTO-AGENT-CHECKIN.json
{"updatedAt":"2026-07-07T03:35:00.000Z","createdAt":"2026-07-07T03:35:00.000Z","id":"AgentCheckin001","name":"AUTO-AGENT-CHECKIN — 30min Team Backlog Ping","description":"Requested by GBT (handoff e33d1528) 2026-07-07: neither GBT nor Browser Claude can self-schedule inside their own chat UI (both only run when invoked). This is the real fix - n8n polls warm-start every 30 min and pings Buck's Telegram only when there is genuinely new pending work, so Buck doesn't have to remember to manually open a GBT/BC chat to trigger a check.","active":true,"isArchived":false,"nodes":[{"name":"Every 30 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[100,200],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"id":"checkin-trigger-001"},{"name":"GET Warm Start","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[360,200],"parameters":{"method":"GET","url":"http://host.docker.internal:8000/gateway/ai/warm-start","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"hci-a4fe3f56f42b981e59a98ec112c43ef975ac68c7fc0517c6"}]},"options":{"timeout":30000}},"id":"checkin-getwarm-001"},{"name":"Evaluate Backlog","type":"n8n-nodes-base.code","typeVersion":2,"position":[620,200],"parameters":{"jsCode":"const payload = $input.first().json.payload || $input.first().json;\n\nconst pendingReviews = (payload.pending_chief_architect_reviews || []).length;\nconst blockedMissions = (payload.blocked_missions || []).length;\nconst pendingApprovals = (payload.pending_buck_approvals || []).length;\nconst pendingCodeTasks = (payload.pending_code_tasks || []).length;\nconst pendingBcTasks = (payload.pending_bc_tasks || []).length;\n\nconst staticData = $getWorkflowStaticData('global');\nconst lastSignature = staticData.lastSignature || '';\nconst signature = `${pendingReviews}-${blockedMissions}-${pendingApprovals}-${pendingCodeTasks}-${pendingBcTasks}`;\n\nconst hasWork = pendingReviews > 0 || blockedMissions > 0 || pendingApprovals > 0;\nconst isNew = signature !== lastSignature;\n\nif (hasWork) {\n  staticData.lastSignature = signature;\n} else if (lastSignature !== '') {\n  staticData.lastSignature = '';\n}\n\nconst lines = [];\nif (pendingApprovals > 0) lines.push(`${pendingApprovals} pending Buck approval(s)`);\nif (pendingReviews > 0) lines.push(`${pendingReviews} pending Chief Architect review message(s) for GBT`);\nif (blockedMissions > 0) lines.push(`${blockedMissions} blocked mission(s): ` + (payload.blocked_missions || []).map(m => m.title).join(', '));\nif (pendingCodeTasks > 0) lines.push(`${pendingCodeTasks} pending Claude Code task(s)`);\nif (pendingBcTasks > 0) lines.push(`${pendingBcTasks} pending Browser Claude task(s)`);\n\nreturn [{\n  json: {\n    should_notify: hasWork && isNew,\n    source_agent: 'n8n',\n    target_agent: 'buck',\n    message_type: 'review_required',\n    title: 'Team backlog check - GBT/BC need a session opened',\n    body: (lines.length ? lines.join(' | ') : 'Backlog pending') + '. Neither GBT nor Browser Claude can self-check - open a chat with either to have them pick this up.',\n    priority: blockedMissions > 0 ? 'high' : 'medium',\n    skip_notify: false,\n  }\n}];"},"id":"checkin-evaluate-001"},{"name":"Has New Work?","type":"n8n-nodes-base.if","typeVersion":1,"position":[880,200],"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.should_notify }}","value2":true}]}},"id":"checkin-if-001"},{"name":"Ping Buck","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,200],"parameters":{"method":"POST","url":"http://host.docker.internal:8000/gateway/ai/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"hci-a4fe3f56f42b981e59a98ec112c43ef975ac68c7fc0517c6"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"timeout":30000}},"id":"checkin-post-001"}],"connections":{"Every 30 Minutes":{"main":[[{"node":"GET Warm Start","type":"main","index":0}]]},"GET Warm Start":{"main":[[{"node":"Evaluate Backlog","type":"main","index":0}]]},"Evaluate Backlog":{"main":[[{"node":"Has New Work?","type":"main","index":0}]]},"Has New Work?":{"main":[[{"node":"Ping Buck","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Evaluate Backlog":{"lastSignature":""}},"meta":null,"nodeGroups":[],"pinData":null,"versionId":"a1b2c3d4-0007-4707-9707-agentcheckin1","activeVersionId":"a1b2c3d4-0007-4707-9707-agentcheckin1","versionCounter":1,"triggerCount":1,"sourceWorkflowId":null,"tags":["btw-10","agent-checkin"]}
