03_Source_Code/workflows/n8n/GATE-H-hubspot-write.json
{
  "updatedAt": "2026-07-07T06:46:31.823Z",
  "createdAt": "2026-06-30T04:44:01.217Z",
  "id": "o3EV78MTl45tMZcl",
  "name": "GATE-H \u2014 HubSpot Write Approval (AUTO-005)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gate-hubspot",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook: HubSpot Write Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        300
      ],
      "webhookId": "gate-hubspot",
      "id": "3559f414-69be-459c-acc7-77b3a90e3ff7"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/v1/services/approval-queue/enqueue",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"workflow\": \"GATE-H\",\n  \"action_type\": \"hubspot_write\",\n  \"target_system\": \"hubspot\",\n  \"target_id\": \"{{ $json.target_id }}\",\n  \"target_description\": \"{{ $json.target_description }}\",\n  \"proposed_payload\": {{ JSON.stringify($json.proposed_payload || {}) }},\n  \"reason\": \"{{ $json.reason }}\",\n  \"project_id\": {{ $json.project_id || 'null' }},\n  \"actor\": \"{{ $json.actor || 'system' }}\",\n  \"priority\": \"{{ $json.priority || 'normal' }}\"\n}",
        "options": {},
        "specifyBody": "json"
      },
      "name": "Enqueue in Approval Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fCSKMz294hUajaxu",
          "name": "HCI Gateway API Key"
        }
      },
      "id": "f1f987c7-2dfd-4850-9ceb-0d4e90ceeb68"
    },
    {
      "parameters": {
        "url": "https://ntfy.sh/hci-executive",
        "method": "POST",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "HubSpot Write Pending Approval"
            },
            {
              "name": "Tags",
              "value": "hubspot,rotating_light"
            },
            {
              "name": "Cache",
              "value": "yes"
            },
            {
              "name": "Expires",
              "value": "24h"
            },
            {
              "name": "Actions",
              "value": "=view, Review & Approve, http://host.docker.internal:8000/executive; view, Approval Queue, http://host.docker.internal:8000/api/v1/services/approval-queue/pending"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "raw",
        "rawBody": "={{ $('Webhook: HubSpot Write Request').first().json.target_description }} \u2014 Queue ID: {{ $json.queue_id }}",
        "options": {}
      },
      "name": "Push: Buck Approval Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        300
      ],
      "id": "d2a19578-c415-463e-9229-63ab1972c97c"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"queued\", \"queue_id\": {{ $('Enqueue in Approval Queue').first().json.queue_id }}, \"message\": \"HubSpot write queued for Buck approval\" }"
      },
      "name": "Respond to Caller",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "id": "7b0bfccd-baf4-4724-96af-dd25ae994267"
    }
  ],
  "connections": {
    "Webhook: HubSpot Write Request": {
      "main": [
        [
          {
            "node": "Enqueue in Approval Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enqueue in Approval Queue": {
      "main": [
        [
          {
            "node": "Push: Buck Approval Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Caller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "f5c6972a-9ec8-4875-bc17-7af8690aca24",
  "activeVersionId": "f5c6972a-9ec8-4875-bc17-7af8690aca24",
  "versionCounter": 4,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-30T04:44:01.218Z",
      "createdAt": "2026-06-30T04:44:01.218Z",
      "role": "workflow:owner",
      "workflowId": "o3EV78MTl45tMZcl",
      "projectId": "ZyJUZXA49m8REtF6",
      "project": {
        "updatedAt": "2026-06-13T17:47:03.534Z",
        "createdAt": "2026-06-13T17:44:54.962Z",
        "id": "ZyJUZXA49m8REtF6",
        "name": "Buck Adams <buck@hendricksoninc.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-07T06:46:31.823Z",
    "createdAt": "2026-07-07T06:46:31.823Z",
    "versionId": "f5c6972a-9ec8-4875-bc17-7af8690aca24",
    "workflowId": "o3EV78MTl45tMZcl",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "gate-hubspot",
          "responseMode": "responseNode",
          "options": {}
        },
        "name": "Webhook: HubSpot Write Request",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          100,
          300
        ],
        "webhookId": "gate-hubspot",
        "id": "3559f414-69be-459c-acc7-77b3a90e3ff7"
      },
      {
        "parameters": {
          "url": "http://host.docker.internal:8000/api/v1/services/approval-queue/enqueue",
          "method": "POST",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyContentType": "json",
          "jsonBody": "={\n  \"workflow\": \"GATE-H\",\n  \"action_type\": \"hubspot_write\",\n  \"target_system\": \"hubspot\",\n  \"target_id\": \"{{ $json.target_id }}\",\n  \"target_description\": \"{{ $json.target_description }}\",\n  \"proposed_payload\": {{ JSON.stringify($json.proposed_payload || {}) }},\n  \"reason\": \"{{ $json.reason }}\",\n  \"project_id\": {{ $json.project_id || 'null' }},\n  \"actor\": \"{{ $json.actor || 'system' }}\",\n  \"priority\": \"{{ $json.priority || 'normal' }}\"\n}",
          "options": {},
          "specifyBody": "json"
        },
        "name": "Enqueue in Approval Queue",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          300,
          300
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "fCSKMz294hUajaxu",
            "name": "HCI Gateway API Key"
          }
        },
        "id": "f1f987c7-2dfd-4850-9ceb-0d4e90ceeb68"
      },
      {
        "parameters": {
          "url": "https://ntfy.sh/hci-executive",
          "method": "POST",
          "authentication": "none",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Title",
                "value": "HubSpot Write Pending Approval"
              },
              {
                "name": "Tags",
                "value": "hubspot,rotating_light"
              },
              {
                "name": "Cache",
                "value": "yes"
              },
              {
                "name": "Expires",
                "value": "24h"
              },
              {
                "name": "Actions",
                "value": "=view, Review & Approve, http://host.docker.internal:8000/executive; view, Approval Queue, http://host.docker.internal:8000/api/v1/services/approval-queue/pending"
              }
            ]
          },
          "sendBody": true,
          "bodyContentType": "raw",
          "rawBody": "={{ $('Webhook: HubSpot Write Request').first().json.target_description }} \u2014 Queue ID: {{ $json.queue_id }}",
          "options": {}
        },
        "name": "Push: Buck Approval Request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          500,
          300
        ],
        "id": "d2a19578-c415-463e-9229-63ab1972c97c"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={ \"status\": \"queued\", \"queue_id\": {{ $('Enqueue in Approval Queue').first().json.queue_id }}, \"message\": \"HubSpot write queued for Buck approval\" }"
        },
        "name": "Respond to Caller",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          700,
          300
        ],
        "id": "7b0bfccd-baf4-4724-96af-dd25ae994267"
      }
    ],
    "connections": {
      "Webhook: HubSpot Write Request": {
        "main": [
          [
            {
              "node": "Enqueue in Approval Queue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enqueue in Approval Queue": {
        "main": [
          [
            {
              "node": "Push: Buck Approval Request",
              "type": "main",
              "index": 0
            },
            {
              "node": "Respond to Caller",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Buck Adams",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-07T06:46:31.839Z",
        "id": 418,
        "workflowId": "o3EV78MTl45tMZcl",
        "versionId": "f5c6972a-9ec8-4875-bc17-7af8690aca24",
        "event": "activated",
        "userId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      },
      {
        "createdAt": "2026-07-07T06:46:31.834Z",
        "id": 417,
        "workflowId": "o3EV78MTl45tMZcl",
        "versionId": "f5c6972a-9ec8-4875-bc17-7af8690aca24",
        "event": "deactivated",
        "userId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    ]
  }
}