03_Source_Code/workflows/n8n/WF-010_Outlook_Email_Router.json
{
  "updatedAt": "2026-07-03T01:07:44.231Z",
  "createdAt": "2026-06-20T00:48:47.744Z",
  "id": "flsIMOI21JRgtlMe",
  "name": "WF-010 Outlook Email Router",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {},
        "options": {}
      },
      "id": "outlook-trigger-router-001",
      "name": "Monitor Inbox",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        160
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "I9EZEhr72Zo6vPWX",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1brdSsQDdnPWx61vbV6gPdumXGKxAujNyhXRMpuvJVtg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Projects",
          "mode": "name"
        },
        "options": {}
      },
      "id": "gs-proj-reg-router-001",
      "name": "Load Project Registry",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -480,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Z9ViG2jWlb66ncRi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Route an incoming email to the correct project based on subject/body\nconst email    = $('Monitor Inbox').first().json;\nconst projects = $('Load Project Registry').all().map(i => i.json);\n\nconst subject      = (email.subject     || '').toLowerCase().trim();\nconst bodyPreview  = (email.bodyPreview || '').toLowerCase().trim();\nconst sender       = (email.from?.emailAddress?.address || '').toLowerCase();\nconst senderName   = email.from?.emailAddress?.name   || sender;\nconst searchText   = subject + ' ' + bodyPreview;\nconst dateStr      = email.receivedDateTime\n    ? new Date(email.receivedDateTime).toISOString().split('T')[0]\n    : new Date().toISOString().split('T')[0];\nconst emailId      = email.id || '';\n\n// Skip emails from self (sent-mail echoes)\nif (sender.includes('hendricksoninc.com') && senderName === 'Buck Adams') {\n    return [{ json: { skip: true, reason: 'sent by self', emailId } }];\n}\n\n// Skip marketing, newsletters, automated systems, spam\nconst spamDomains = ['mailchimp', 'constantcontact', 'sendgrid', 'klaviyo', 'mailerlite',\n    'mandrillapp', 'amazonses', 'bounce', 'noreply', 'no-reply', 'donotreply',\n    'notifications@', 'alerts@', 'newsletter', 'marketing', 'campaigns'];\nconst spamSubjectTerms = ['unsubscribe', 'click here to', 'view in browser',\n    'email preferences', 'opt out', 'promotion', 'sale ends', 'limited time offer',\n    'act now', 'special offer', 'congratulations you', 'you have been selected',\n    'your account has been', 'verify your email', 'confirm your email'];\nconst spamBodyTerms = ['unsubscribe from', 'email preferences', 'view this email in'];\n\nif (spamDomains.some(d => sender.includes(d))) {\n    return [{ json: { skip: true, reason: 'marketing sender', emailId } }];\n}\nif (spamSubjectTerms.some(t => subject.includes(t))) {\n    return [{ json: { skip: true, reason: 'marketing subject', emailId } }];\n}\nif (spamBodyTerms.some(t => bodyPreview.includes(t))) {\n    return [{ json: { skip: true, reason: 'marketing body', emailId } }];\n}\n\n// Match to project\nlet matchedProject = null;\nlet matchScore = 0;\nfor (const p of projects) {\n    const pName    = (p['Project Name'] || '').toLowerCase();\n    const pAddress = (p['Address']      || '').toLowerCase();\n    const pId      = (p['Project ID']   || '').toLowerCase();\n    const aliases  = (p['Aliases']      || '').toLowerCase().split(',').map(a=>a.trim()).filter(Boolean);\n    const terms    = [pName, pAddress, pId, ...aliases].filter(Boolean);\n    const hits     = terms.filter(t => t && searchText.includes(t)).length;\n    if (hits > matchScore) { matchScore = hits; matchedProject = p; }\n}\n\nif (!matchedProject) {\n    return [{ json: {\n        skip: false,\n        routed: false,\n        reason: 'No project matched',\n        sender, senderName, subject: email.subject, dateStr, emailId,\n    }}];\n}\n\nconst projectName    = matchedProject['Project Name']    || 'Unknown';\nconst projectId      = matchedProject['Project ID']      || '';\nconst driveFolderId  = matchedProject['Drive Folder ID'] || matchedProject['Bid Folder ID'] || '';\nconst hasAttachment  = email.hasAttachments || false;\n\nif (!driveFolderId) {\n    return [{ json: {\n        skip: false,\n        routed: false,\n        reason: `Project '${projectName}' matched but has no Drive Folder ID`,\n        projectName, projectId, sender, senderName, subject: email.subject, dateStr, emailId,\n    }}];\n}\n\nconst memoName = `${dateStr}_Email_${senderName.replace(/[^a-zA-Z0-9]/g,'_').slice(0,30)}.txt`;\nconst memoBody = `From: ${senderName} <${sender}>\nDate: ${email.receivedDateTime || dateStr}\nSubject: ${email.subject}\nHas Attachments: ${hasAttachment}\n\n${email.bodyPreview || '(no preview)'}`;\n\nreturn [{ json: {\n    skip: false, routed: true,\n    projectName, projectId, driveFolderId,\n    sender, senderName, subject: email.subject || '',\n    dateStr, emailId, hasAttachment, memoName, memoBody,\n}}];"
      },
      "id": "code-route-email-001",
      "name": "Route Email to Project",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "cond-not-skip"
            },
            {
              "leftValue": "={{ $json.routed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "cond-routed"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-routed-001",
      "name": "Routed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.memoName }}",
        "driveId": {
          "__rl": true,
          "value": "={{ $json.driveFolderId }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.driveFolderId }}",
          "mode": "id"
        },
        "inputDataFieldName": "data",
        "options": {
          "mimeType": "text/plain"
        }
      },
      "id": "gdrive-save-memo-001",
      "name": "Save Email Memo to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        240,
        80
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UDJZyRl4iZXIr4qI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "cond-not-skip2"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-not-skipped-001",
      "name": "Not Skipped?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        240,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/gateway/field/note",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "hci-a4fe3f56f42b981e59a98ec112c43ef975ac68c7fc0517c6"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "project_code",
              "value": "ADMIN"
            },
            {
              "name": "note",
              "value": "=\u26a0\ufe0f Unrouted email from {{ $json.senderName }} <{{ $json.sender }}> | Subject: {{ $json.subject }} | Reason: {{ $json.reason }}"
            },
            {
              "name": "source",
              "value": "email-router-wf010"
            }
          ]
        },
        "authentication": "none"
      },
      "id": "outlook-unrouted-001",
      "name": "Alert Buck \u2014 Unrouted Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        480,
        320
      ],
      "webhookId": "c3548943-2469-4af8-a8bb-03bb17b8929e"
    }
  ],
  "connections": {
    "Monitor Inbox": {
      "main": [
        [
          {
            "node": "Load Project Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Project Registry": {
      "main": [
        [
          {
            "node": "Route Email to Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Email to Project": {
      "main": [
        [
          {
            "node": "Routed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Routed?": {
      "main": [
        [
          {
            "node": "Save Email Memo to Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Skipped?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Skipped?": {
      "main": [
        [
          {
            "node": "Alert Buck \u2014 Unrouted Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Monitor Inbox": {
      "lastTimeChecked": "2026-07-02T19:07:44.245-06:00"
    }
  },
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "bd95603e-f6e0-4f24-8843-b2223b6c8691",
  "activeVersionId": "bd95603e-f6e0-4f24-8843-b2223b6c8691",
  "versionCounter": 4,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-06-20T00:48:47.746Z",
      "createdAt": "2026-06-20T00:48:47.746Z",
      "role": "workflow:owner",
      "workflowId": "flsIMOI21JRgtlMe",
      "projectId": "ZyJUZXA49m8REtF6",
      "project": {
        "updatedAt": "2026-06-13T17:47:03.534Z",
        "createdAt": "2026-06-13T17:44:54.962Z",
        "id": "ZyJUZXA49m8REtF6",
        "name": "Buck Adams <buck@hendricksoninc.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-03T01:07:44.231Z",
    "createdAt": "2026-07-03T01:07:44.231Z",
    "versionId": "bd95603e-f6e0-4f24-8843-b2223b6c8691",
    "workflowId": "flsIMOI21JRgtlMe",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "filters": {},
          "options": {}
        },
        "id": "outlook-trigger-router-001",
        "name": "Monitor Inbox",
        "type": "n8n-nodes-base.microsoftOutlookTrigger",
        "typeVersion": 1,
        "position": [
          -720,
          160
        ],
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "I9EZEhr72Zo6vPWX",
            "name": "Microsoft Outlook account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1brdSsQDdnPWx61vbV6gPdumXGKxAujNyhXRMpuvJVtg",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Projects",
            "mode": "name"
          },
          "options": {}
        },
        "id": "gs-proj-reg-router-001",
        "name": "Load Project Registry",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          -480,
          80
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "Z9ViG2jWlb66ncRi",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Route an incoming email to the correct project based on subject/body\nconst email    = $('Monitor Inbox').first().json;\nconst projects = $('Load Project Registry').all().map(i => i.json);\n\nconst subject      = (email.subject     || '').toLowerCase().trim();\nconst bodyPreview  = (email.bodyPreview || '').toLowerCase().trim();\nconst sender       = (email.from?.emailAddress?.address || '').toLowerCase();\nconst senderName   = email.from?.emailAddress?.name   || sender;\nconst searchText   = subject + ' ' + bodyPreview;\nconst dateStr      = email.receivedDateTime\n    ? new Date(email.receivedDateTime).toISOString().split('T')[0]\n    : new Date().toISOString().split('T')[0];\nconst emailId      = email.id || '';\n\n// Skip emails from self (sent-mail echoes)\nif (sender.includes('hendricksoninc.com') && senderName === 'Buck Adams') {\n    return [{ json: { skip: true, reason: 'sent by self', emailId } }];\n}\n\n// Skip marketing, newsletters, automated systems, spam\nconst spamDomains = ['mailchimp', 'constantcontact', 'sendgrid', 'klaviyo', 'mailerlite',\n    'mandrillapp', 'amazonses', 'bounce', 'noreply', 'no-reply', 'donotreply',\n    'notifications@', 'alerts@', 'newsletter', 'marketing', 'campaigns'];\nconst spamSubjectTerms = ['unsubscribe', 'click here to', 'view in browser',\n    'email preferences', 'opt out', 'promotion', 'sale ends', 'limited time offer',\n    'act now', 'special offer', 'congratulations you', 'you have been selected',\n    'your account has been', 'verify your email', 'confirm your email'];\nconst spamBodyTerms = ['unsubscribe from', 'email preferences', 'view this email in'];\n\nif (spamDomains.some(d => sender.includes(d))) {\n    return [{ json: { skip: true, reason: 'marketing sender', emailId } }];\n}\nif (spamSubjectTerms.some(t => subject.includes(t))) {\n    return [{ json: { skip: true, reason: 'marketing subject', emailId } }];\n}\nif (spamBodyTerms.some(t => bodyPreview.includes(t))) {\n    return [{ json: { skip: true, reason: 'marketing body', emailId } }];\n}\n\n// Match to project\nlet matchedProject = null;\nlet matchScore = 0;\nfor (const p of projects) {\n    const pName    = (p['Project Name'] || '').toLowerCase();\n    const pAddress = (p['Address']      || '').toLowerCase();\n    const pId      = (p['Project ID']   || '').toLowerCase();\n    const aliases  = (p['Aliases']      || '').toLowerCase().split(',').map(a=>a.trim()).filter(Boolean);\n    const terms    = [pName, pAddress, pId, ...aliases].filter(Boolean);\n    const hits     = terms.filter(t => t && searchText.includes(t)).length;\n    if (hits > matchScore) { matchScore = hits; matchedProject = p; }\n}\n\nif (!matchedProject) {\n    return [{ json: {\n        skip: false,\n        routed: false,\n        reason: 'No project matched',\n        sender, senderName, subject: email.subject, dateStr, emailId,\n    }}];\n}\n\nconst projectName    = matchedProject['Project Name']    || 'Unknown';\nconst projectId      = matchedProject['Project ID']      || '';\nconst driveFolderId  = matchedProject['Drive Folder ID'] || matchedProject['Bid Folder ID'] || '';\nconst hasAttachment  = email.hasAttachments || false;\n\nif (!driveFolderId) {\n    return [{ json: {\n        skip: false,\n        routed: false,\n        reason: `Project '${projectName}' matched but has no Drive Folder ID`,\n        projectName, projectId, sender, senderName, subject: email.subject, dateStr, emailId,\n    }}];\n}\n\nconst memoName = `${dateStr}_Email_${senderName.replace(/[^a-zA-Z0-9]/g,'_').slice(0,30)}.txt`;\nconst memoBody = `From: ${senderName} <${sender}>\nDate: ${email.receivedDateTime || dateStr}\nSubject: ${email.subject}\nHas Attachments: ${hasAttachment}\n\n${email.bodyPreview || '(no preview)'}`;\n\nreturn [{ json: {\n    skip: false, routed: true,\n    projectName, projectId, driveFolderId,\n    sender, senderName, subject: email.subject || '',\n    dateStr, emailId, hasAttachment, memoName, memoBody,\n}}];"
        },
        "id": "code-route-email-001",
        "name": "Route Email to Project",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -240,
          160
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $json.skip }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                },
                "id": "cond-not-skip"
              },
              {
                "leftValue": "={{ $json.routed }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                },
                "id": "cond-routed"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-routed-001",
        "name": "Routed?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          0,
          160
        ]
      },
      {
        "parameters": {
          "operation": "upload",
          "name": "={{ $json.memoName }}",
          "driveId": {
            "__rl": true,
            "value": "={{ $json.driveFolderId }}",
            "mode": "id"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $json.driveFolderId }}",
            "mode": "id"
          },
          "inputDataFieldName": "data",
          "options": {
            "mimeType": "text/plain"
          }
        },
        "id": "gdrive-save-memo-001",
        "name": "Save Email Memo to Drive",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          240,
          80
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "UDJZyRl4iZXIr4qI",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $json.skip }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                },
                "id": "cond-not-skip2"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-not-skipped-001",
        "name": "Not Skipped?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          240,
          320
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:8000/gateway/field/note",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-API-Key",
                "value": "hci-a4fe3f56f42b981e59a98ec112c43ef975ac68c7fc0517c6"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "project_code",
                "value": "ADMIN"
              },
              {
                "name": "note",
                "value": "=\u26a0\ufe0f Unrouted email from {{ $json.senderName }} <{{ $json.sender }}> | Subject: {{ $json.subject }} | Reason: {{ $json.reason }}"
              },
              {
                "name": "source",
                "value": "email-router-wf010"
              }
            ]
          },
          "authentication": "none"
        },
        "id": "outlook-unrouted-001",
        "name": "Alert Buck \u2014 Unrouted Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [
          480,
          320
        ],
        "webhookId": "c3548943-2469-4af8-a8bb-03bb17b8929e"
      }
    ],
    "connections": {
      "Monitor Inbox": {
        "main": [
          [
            {
              "node": "Load Project Registry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Project Registry": {
        "main": [
          [
            {
              "node": "Route Email to Project",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Email to Project": {
        "main": [
          [
            {
              "node": "Routed?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Routed?": {
        "main": [
          [
            {
              "node": "Save Email Memo to Drive",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Not Skipped?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Not Skipped?": {
        "main": [
          [
            {
              "node": "Alert Buck \u2014 Unrouted Email",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Buck Adams",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-03T01:07:44.625Z",
        "id": 282,
        "workflowId": "flsIMOI21JRgtlMe",
        "versionId": "bd95603e-f6e0-4f24-8843-b2223b6c8691",
        "event": "activated",
        "userId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      },
      {
        "createdAt": "2026-07-03T01:07:44.242Z",
        "id": 281,
        "workflowId": "flsIMOI21JRgtlMe",
        "versionId": "bd95603e-f6e0-4f24-8843-b2223b6c8691",
        "event": "deactivated",
        "userId": "3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"
      }
    ]
  }
}