04_Workflows/WF-007_Bid_Leveling_Engine.json
{"updatedAt":"2026-06-24T21:29:20.849Z","createdAt":"2026-06-20T00:43:30.318Z","id":"Q1akV9pVnDkmATIo","name":"WF-007 AI Bid Leveling Engine","description":null,"active":true,"isArchived":false,"nodes":[{"id":"wh-bid-leveling-001","name":"Bid Leveling Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-480,160],"parameters":{"httpMethod":"POST","path":"bid-leveling","responseMode":"onReceived","responseData":"allEntries","options":{}},"webhookId":"39a10b77-b7c7-4690-90b0-b03b63d0e2a8"},{"id":"sched-eod-5pm","name":"Daily 5 PM (End of Day)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-480,-80],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 23 * * *"}]}}},{"id":"sched-load-reg","name":"Load Registry (Schedule)","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-240,-80],"parameters":{"documentId":{"__rl":true,"mode":"id","value":"1brdSsQDdnPWx61vbV6gPdumXGKxAujNyhXRMpuvJVtg"},"sheetName":{"__rl":true,"mode":"name","value":"Projects"},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"Z9ViG2jWlb66ncRi","name":"Google Sheets account"}}},{"id":"sched-loop-proj","name":"Loop All Active Projects","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-80],"parameters":{"jsCode":"// Triggered by daily schedule — run leveling for ALL active projects\nconst projects = $input.all().map(i => i.json)\n    .filter(p => (p['Status'] || '').toLowerCase() === 'active' && p['Bid Tracker Sheet ID']);\nreturn projects.map(p => ({ json: {\n    found: true,\n    projectName:       p['Project Name'] || '',\n    bidTrackerSheetId: p['Bid Tracker Sheet ID'],\n    tabName:           p['Tab Name'] || 'Sheet1',\n    bidFolderId:       p['Bid Folder ID'] || '',\n    simpleXlsxId:      p['Simple xlsx ID'] || '',\n    btXlsxId:          p['BT xlsx ID'] || '',\n    isSharedDrive:     (p['Is Shared Drive'] || '').toString().toUpperCase() === 'TRUE',\n    runMode:           'scheduled-all',\n}}));"}},{"id":"sched-split-batch","name":"Split by Project","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[240,-80],"parameters":{"batchSize":1,"options":{}}},{"id":"sched-read-tracker","name":"Read Bid Tracker (Schedule)","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[480,-80],"parameters":{"documentId":{"__rl":true,"mode":"id","value":"={{ $json.bidTrackerSheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $json.tabName }}"},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"Z9ViG2jWlb66ncRi","name":"Google Sheets account"}}},{"id":"sched-level-bids","name":"Level Bids (Schedule)","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,-80],"parameters":{"jsCode":"// ─── PROJECT META (works in both schedule and webhook paths) ────────────────\nconst meta = (() => {\n    try { const d = $('Split by Project').item.json; if (d && d.bidTrackerSheetId) return d; } catch(e) {}\n    try { const d = $('Find Project & Tracker ID').first().json; if (d && d.bidTrackerSheetId) return d; } catch(e) {}\n    return {};\n})();\nconst webhookBody   = (() => { try { return $('Bid Leveling Webhook').first().json.body || {}; } catch(e) { return {}; } })();\nconst projectName   = meta.projectName || webhookBody.project_name || 'Unknown Project';\nconst bidTrackerSheetId = meta.bidTrackerSheetId || '';\nconst btXlsxId      = meta.btXlsxId || '';\nconst simpleXlsxId  = meta.simpleXlsxId || '';\nconst isSharedDrive = meta.isSharedDrive || false;\nconst tradeFilter   = (webhookBody.trade_filter || '').toLowerCase().trim();\nconst bids          = $input.all().map(i => i.json);\nconst dateStr       = new Date().toISOString().split('T')[0];\n// ─── GROUP BIDS BY CSI DIVISION ──────────────────────────────────────────────\nconst tradeGroups = {};\nfor (const bid of bids) {\n    const csi = (bid['CSI Division'] || bid['Division'] || '').toString().trim();\n    const sub = (bid['Subcontractor'] || bid['Vendor'] || bid['Sub'] || '').toString().trim();\n    if (!sub || sub === 'Subcontractor' || csi === csi.toLowerCase() && !csi) continue;\n\n    const key = csi || 'Unknown';\n    if (tradeFilter && !key.toLowerCase().includes(tradeFilter) && !sub.toLowerCase().includes(tradeFilter)) continue;\n\n    if (!tradeGroups[key]) tradeGroups[key] = { division: key, bids: [] };\n\n    const rawAmt = (bid['Bid Amount'] || '').toString().replace(/[$,\\s]/g, '');\n    const amount = parseFloat(rawAmt) || null;\n    const note   = bid['Notes'] || bid['Notes (Claude)'] || bid['Notes/Issues'] || '';\n    const contact = bid['Contact'] || bid['Contact #1'] || bid['Contact Name'] || '';\n    const email   = bid['Email'] || bid['Email 1'] || '';\n    const status  = bid['Status'] || '';\n\n    tradeGroups[key].bids.push({ vendor: sub, amount, status, notes: note, contact, email,\n        dateSent: bid['Date Sent'] || '', dateRcvd: bid['Date Received'] || '' });\n}\n\n// ─── LEVEL EACH TRADE GROUP ──────────────────────────────────────────────────\nconst leveled = [];\nfor (const [key, group] of Object.entries(tradeGroups).sort()) {\n    const withAmt = group.bids.filter(b => b.amount !== null).sort((a, b) => a.amount - b.amount);\n    const noAmt   = group.bids.filter(b => b.amount === null);\n    const n = withAmt.length;\n\n    let low = null, high = null, median = null, spread = null;\n    if (n > 0) {\n        low    = withAmt[0].amount;\n        high   = withAmt[n - 1].amount;\n        median = n % 2 === 0\n            ? (withAmt[n/2-1].amount + withAmt[n/2].amount) / 2\n            : withAmt[Math.floor(n/2)].amount;\n        spread = n >= 2 ? ((high - low) / low * 100).toFixed(1) + '%' : 'N/A';\n    }\n\n    const fmt = v => v !== null ? '$' + v.toLocaleString('en-US', {minimumFractionDigits: 0}) : '—';\n    const flag = b => {\n        if (b.amount === null) {\n            const st = b.status.toLowerCase();\n            if (st.includes('decline') || st.includes('no bid')) return '✗ Declined';\n            return '⏳ Pending';\n        }\n        if (median && b.amount > median * 1.25) return '⚠️ High';\n        if (median && b.amount < median * 0.75) return '⚠️ Low';\n        return '✓';\n    };\n\n    leveled.push({ key, division: group.division, bidCount: group.bids.length,\n        received: n, pending: noAmt.length, low: fmt(low), high: fmt(high),\n        median: fmt(median), spread,\n        rows: [...withAmt.map(b => ({...b, flag: flag(b)})),\n               ...noAmt.map(b => ({...b, flag: flag(b)}))] });\n}\n\n// ─── BUILD HTML REPORT ───────────────────────────────────────────────────────\nconst fmt2 = v => v !== null && v !== undefined ? '$' + Number(v).toLocaleString('en-US', {minimumFractionDigits: 0}) : '—';\nlet html = `<div style=\"font-family:Arial,sans-serif;font-size:13px;color:#1a1a1a;\">\n<div style=\"background:#1a1a1a;color:#fff;padding:16px 20px;border-bottom:3px solid #e05a00;\">\n  <h2 style=\"margin:0;font-size:18px;\">DRAFT BID LEVELING REPORT</h2>\n  <p style=\"margin:4px 0 0;color:#aaa;font-size:11px;\">${projectName} &nbsp;|&nbsp; ${dateStr} &nbsp;|&nbsp; FOR BUCK'S REVIEW &amp; APPROVAL ONLY — NO AWARDS COMMITTED</p>\n</div>\n<div style=\"background:#fff0f0;border-left:4px solid #e05a00;padding:10px 16px;margin:12px 0;font-size:12px;\">\n  <strong>⚠ DRAFT — Human Approval Required.</strong> No bid is awarded, committed, or finalized without Buck Adams' written approval.\n</div>\n<p style=\"font-size:12px;color:#666;\">${leveled.length} trade${leveled.length !== 1 ? 's' : ''} &nbsp;|&nbsp; ${leveled.reduce((s,t)=>s+t.bidCount,0)} total bids &nbsp;|&nbsp; ${leveled.reduce((s,t)=>s+t.received,0)} with amounts &nbsp;|&nbsp; ${leveled.reduce((s,t)=>s+t.pending,0)} pending</p>`;\n\nfor (const t of leveled) {\n    html += `\n<h3 style=\"color:#e05a00;border-bottom:1px solid #ddd;padding-bottom:4px;margin-top:24px;\">${t.key}</h3>\n<p style=\"font-size:11px;color:#555;margin:4px 0 8px;\">\n  Bids: ${t.bidCount} &nbsp;|&nbsp; Received: ${t.received} &nbsp;|&nbsp; Pending: ${t.pending}\n  ${t.received > 0 ? ` &nbsp;|&nbsp; Low: ${t.low} &nbsp;|&nbsp; Median: ${t.median} &nbsp;|&nbsp; High: ${t.high} &nbsp;|&nbsp; Spread: ${t.spread}` : ''}\n</p>\n<table style=\"border-collapse:collapse;width:100%;margin-bottom:8px;font-size:12px;\">\n  <thead><tr style=\"background:#e05a00;color:#fff;\">\n    <th style=\"padding:7px 10px;text-align:left;\">Rank</th>\n    <th style=\"padding:7px 10px;text-align:left;\">Subcontractor</th>\n    <th style=\"padding:7px 10px;text-align:right;\">Bid Amount</th>\n    <th style=\"padding:7px 10px;text-align:center;\">Flag</th>\n    <th style=\"padding:7px 10px;text-align:left;\">Status</th>\n    <th style=\"padding:7px 10px;text-align:left;\">Notes</th>\n  </tr></thead><tbody>`;\n\n    t.rows.forEach((b, i) => {\n        const bg = i % 2 === 0 ? '#f9f9f9' : '#fff';\n        html += `\n    <tr style=\"background:${bg};\">\n      <td style=\"padding:6px 10px;\">${b.amount !== null ? '#' + (t.rows.filter(r=>r.amount!==null).indexOf(b)+1) : '—'}</td>\n      <td style=\"padding:6px 10px;font-weight:bold;\">${b.vendor}</td>\n      <td style=\"padding:6px 10px;text-align:right;\">${fmt2(b.amount)}</td>\n      <td style=\"padding:6px 10px;text-align:center;\">${b.flag}</td>\n      <td style=\"padding:6px 10px;\">${b.status}</td>\n      <td style=\"padding:6px 10px;color:#666;\">${b.notes}</td>\n    </tr>`;\n    });\n    html += `</tbody></table>`;\n}\n\nhtml += `\n<hr style=\"margin-top:24px;\">\n<p style=\"font-size:11px;color:#888;text-align:center;\">HCI Construction OS &nbsp;|&nbsp; Bid Leveling Engine &nbsp;|&nbsp; ${dateStr} &nbsp;|&nbsp; DRAFT — No Awards, Budgets, or Commitments</p>\n</div>`;\n\nreturn [{ json: { projectName, dateStr, tradeCount: leveled.length, html,\n    bidTrackerSheetId, btXlsxId, simpleXlsxId, isSharedDrive } }];"}},{"id":"sched-send-draft","name":"Send Draft (Schedule)","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[960,-80],"parameters":{"resource":"draft","subject":"=DRAFT BID LEVELING — {{ $('Level Bids (Schedule)').first().json.projectName }} — {{ $('Level Bids (Schedule)').first().json.dateStr }}","bodyContent":"={{ $('Level Bids (Schedule)').first().json.html }}","bodyContentType":"html","additionalFields":{"toRecipients":"buck@hendricksoninc.com"}},"credentials":{"microsoftOutlookOAuth2Api":{"id":"I9EZEhr72Zo6vPWX","name":"Microsoft Outlook account"}},"webhookId":"1ba71b67-96b5-4e76-956b-37d13864828c"},{"id":"gs-project-reg-001","name":"Load Project Registry","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-240,160],"parameters":{"documentId":{"__rl":true,"mode":"id","value":"1brdSsQDdnPWx61vbV6gPdumXGKxAujNyhXRMpuvJVtg"},"sheetName":{"__rl":true,"mode":"name","value":"Projects"},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"Z9ViG2jWlb66ncRi","name":"Google Sheets account"}}},{"id":"code-find-proj-001","name":"Find Project & Tracker ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,160],"parameters":{"jsCode":"const webhookBody = $('Bid Leveling Webhook').first().json.body || {};\nconst projectFilter = (webhookBody.project_name || '').toLowerCase().trim();\nconst projects = $input.all().map(i => i.json);\n\nlet project = null;\nfor (const p of projects) {\n    const name    = (p['Project Name'] || '').toLowerCase();\n    const aliases = (p['Aliases']      || '').toLowerCase();\n    if (!projectFilter || name.includes(projectFilter) || aliases.includes(projectFilter)) {\n        project = p; break;\n    }\n}\nif (!project) {\n    return [{ json: { found: false, projectName: webhookBody.project_name || 'Unknown', error: 'No matching project in registry' } }];\n}\nconst bidTrackerSheetId = project['Bid Tracker Sheet ID'] || project['Bid Tracker ID'] || '';\nconst tabName = (webhookBody.tab_name || project['Tab Name'] || 'Sheet1').trim();\nreturn [{ json: {\n    found: !!bidTrackerSheetId,\n    projectName:       project['Project Name'] || '',\n    bidTrackerSheetId,\n    tabName,\n    bidFolderId:       project['Bid Folder ID'] || '',\n    simpleXlsxId:      project['Simple xlsx ID'] || '',\n    btXlsxId:          project['BT xlsx ID'] || '',\n    isSharedDrive:     (project['Is Shared Drive'] || '').toString().toUpperCase() === 'TRUE',\n    error: bidTrackerSheetId ? '' : 'No Bid Tracker Sheet ID in Project Registry',\n} }];"}},{"id":"if-tracker-found-001","name":"Bid Tracker Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[240,160],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{ $json.found }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"},"id":"cond-found"}],"combinator":"and"},"options":{}}},{"id":"gs-read-tracker-001","name":"Read Bid Tracker","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[480,80],"parameters":{"documentId":{"__rl":true,"mode":"id","value":"={{ $json.bidTrackerSheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $json.tabName }}"},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"Z9ViG2jWlb66ncRi","name":"Google Sheets account"}}},{"id":"code-level-001","name":"Level Bids & Build Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,80],"parameters":{"jsCode":"// ─── PROJECT META (works in both schedule and webhook paths) ────────────────\nconst meta = (() => {\n    try { const d = $('Split by Project').item.json; if (d && d.bidTrackerSheetId) return d; } catch(e) {}\n    try { const d = $('Find Project & Tracker ID').first().json; if (d && d.bidTrackerSheetId) return d; } catch(e) {}\n    return {};\n})();\nconst webhookBody   = (() => { try { return $('Bid Leveling Webhook').first().json.body || {}; } catch(e) { return {}; } })();\nconst projectName   = meta.projectName || webhookBody.project_name || 'Unknown Project';\nconst bidTrackerSheetId = meta.bidTrackerSheetId || '';\nconst btXlsxId      = meta.btXlsxId || '';\nconst simpleXlsxId  = meta.simpleXlsxId || '';\nconst isSharedDrive = meta.isSharedDrive || false;\nconst tradeFilter   = (webhookBody.trade_filter || '').toLowerCase().trim();\nconst bids          = $input.all().map(i => i.json);\nconst dateStr       = new Date().toISOString().split('T')[0];\n// ─── GROUP BIDS BY CSI DIVISION ──────────────────────────────────────────────\nconst tradeGroups = {};\nfor (const bid of bids) {\n    const csi = (bid['CSI Division'] || bid['Division'] || '').toString().trim();\n    const sub = (bid['Subcontractor'] || bid['Vendor'] || bid['Sub'] || '').toString().trim();\n    if (!sub || sub === 'Subcontractor' || csi === csi.toLowerCase() && !csi) continue;\n\n    const key = csi || 'Unknown';\n    if (tradeFilter && !key.toLowerCase().includes(tradeFilter) && !sub.toLowerCase().includes(tradeFilter)) continue;\n\n    if (!tradeGroups[key]) tradeGroups[key] = { division: key, bids: [] };\n\n    const rawAmt = (bid['Bid Amount'] || '').toString().replace(/[$,\\s]/g, '');\n    const amount = parseFloat(rawAmt) || null;\n    const note   = bid['Notes'] || bid['Notes (Claude)'] || bid['Notes/Issues'] || '';\n    const contact = bid['Contact'] || bid['Contact #1'] || bid['Contact Name'] || '';\n    const email   = bid['Email'] || bid['Email 1'] || '';\n    const status  = bid['Status'] || '';\n\n    tradeGroups[key].bids.push({ vendor: sub, amount, status, notes: note, contact, email,\n        dateSent: bid['Date Sent'] || '', dateRcvd: bid['Date Received'] || '' });\n}\n\n// ─── LEVEL EACH TRADE GROUP ──────────────────────────────────────────────────\nconst leveled = [];\nfor (const [key, group] of Object.entries(tradeGroups).sort()) {\n    const withAmt = group.bids.filter(b => b.amount !== null).sort((a, b) => a.amount - b.amount);\n    const noAmt   = group.bids.filter(b => b.amount === null);\n    const n = withAmt.length;\n\n    let low = null, high = null, median = null, spread = null;\n    if (n > 0) {\n        low    = withAmt[0].amount;\n        high   = withAmt[n - 1].amount;\n        median = n % 2 === 0\n            ? (withAmt[n/2-1].amount + withAmt[n/2].amount) / 2\n            : withAmt[Math.floor(n/2)].amount;\n        spread = n >= 2 ? ((high - low) / low * 100).toFixed(1) + '%' : 'N/A';\n    }\n\n    const fmt = v => v !== null ? '$' + v.toLocaleString('en-US', {minimumFractionDigits: 0}) : '—';\n    const flag = b => {\n        if (b.amount === null) {\n            const st = b.status.toLowerCase();\n            if (st.includes('decline') || st.includes('no bid')) return '✗ Declined';\n            return '⏳ Pending';\n        }\n        if (median && b.amount > median * 1.25) return '⚠️ High';\n        if (median && b.amount < median * 0.75) return '⚠️ Low';\n        return '✓';\n    };\n\n    leveled.push({ key, division: group.division, bidCount: group.bids.length,\n        received: n, pending: noAmt.length, low: fmt(low), high: fmt(high),\n        median: fmt(median), spread,\n        rows: [...withAmt.map(b => ({...b, flag: flag(b)})),\n               ...noAmt.map(b => ({...b, flag: flag(b)}))] });\n}\n\n// ─── BUILD HTML REPORT ───────────────────────────────────────────────────────\nconst fmt2 = v => v !== null && v !== undefined ? '$' + Number(v).toLocaleString('en-US', {minimumFractionDigits: 0}) : '—';\nlet html = `<div style=\"font-family:Arial,sans-serif;font-size:13px;color:#1a1a1a;\">\n<div style=\"background:#1a1a1a;color:#fff;padding:16px 20px;border-bottom:3px solid #e05a00;\">\n  <h2 style=\"margin:0;font-size:18px;\">DRAFT BID LEVELING REPORT</h2>\n  <p style=\"margin:4px 0 0;color:#aaa;font-size:11px;\">${projectName} &nbsp;|&nbsp; ${dateStr} &nbsp;|&nbsp; FOR BUCK'S REVIEW &amp; APPROVAL ONLY — NO AWARDS COMMITTED</p>\n</div>\n<div style=\"background:#fff0f0;border-left:4px solid #e05a00;padding:10px 16px;margin:12px 0;font-size:12px;\">\n  <strong>⚠ DRAFT — Human Approval Required.</strong> No bid is awarded, committed, or finalized without Buck Adams' written approval.\n</div>\n<p style=\"font-size:12px;color:#666;\">${leveled.length} trade${leveled.length !== 1 ? 's' : ''} &nbsp;|&nbsp; ${leveled.reduce((s,t)=>s+t.bidCount,0)} total bids &nbsp;|&nbsp; ${leveled.reduce((s,t)=>s+t.received,0)} with amounts &nbsp;|&nbsp; ${leveled.reduce((s,t)=>s+t.pending,0)} pending</p>`;\n\nfor (const t of leveled) {\n    html += `\n<h3 style=\"color:#e05a00;border-bottom:1px solid #ddd;padding-bottom:4px;margin-top:24px;\">${t.key}</h3>\n<p style=\"font-size:11px;color:#555;margin:4px 0 8px;\">\n  Bids: ${t.bidCount} &nbsp;|&nbsp; Received: ${t.received} &nbsp;|&nbsp; Pending: ${t.pending}\n  ${t.received > 0 ? ` &nbsp;|&nbsp; Low: ${t.low} &nbsp;|&nbsp; Median: ${t.median} &nbsp;|&nbsp; High: ${t.high} &nbsp;|&nbsp; Spread: ${t.spread}` : ''}\n</p>\n<table style=\"border-collapse:collapse;width:100%;margin-bottom:8px;font-size:12px;\">\n  <thead><tr style=\"background:#e05a00;color:#fff;\">\n    <th style=\"padding:7px 10px;text-align:left;\">Rank</th>\n    <th style=\"padding:7px 10px;text-align:left;\">Subcontractor</th>\n    <th style=\"padding:7px 10px;text-align:right;\">Bid Amount</th>\n    <th style=\"padding:7px 10px;text-align:center;\">Flag</th>\n    <th style=\"padding:7px 10px;text-align:left;\">Status</th>\n    <th style=\"padding:7px 10px;text-align:left;\">Notes</th>\n  </tr></thead><tbody>`;\n\n    t.rows.forEach((b, i) => {\n        const bg = i % 2 === 0 ? '#f9f9f9' : '#fff';\n        html += `\n    <tr style=\"background:${bg};\">\n      <td style=\"padding:6px 10px;\">${b.amount !== null ? '#' + (t.rows.filter(r=>r.amount!==null).indexOf(b)+1) : '—'}</td>\n      <td style=\"padding:6px 10px;font-weight:bold;\">${b.vendor}</td>\n      <td style=\"padding:6px 10px;text-align:right;\">${fmt2(b.amount)}</td>\n      <td style=\"padding:6px 10px;text-align:center;\">${b.flag}</td>\n      <td style=\"padding:6px 10px;\">${b.status}</td>\n      <td style=\"padding:6px 10px;color:#666;\">${b.notes}</td>\n    </tr>`;\n    });\n    html += `</tbody></table>`;\n}\n\nhtml += `\n<hr style=\"margin-top:24px;\">\n<p style=\"font-size:11px;color:#888;text-align:center;\">HCI Construction OS &nbsp;|&nbsp; Bid Leveling Engine &nbsp;|&nbsp; ${dateStr} &nbsp;|&nbsp; DRAFT — No Awards, Budgets, or Commitments</p>\n</div>`;\n\nreturn [{ json: { projectName, dateStr, tradeCount: leveled.length, html,\n    bidTrackerSheetId, btXlsxId, simpleXlsxId, isSharedDrive } }];"}},{"id":"outlook-send-001","name":"Send Draft to Buck","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[960,80],"parameters":{"resource":"draft","subject":"=DRAFT BID LEVELING — {{ $('Level Bids & Build Report').first().json.projectName }} — {{ $('Level Bids & Build Report').first().json.dateStr }}","bodyContent":"={{ $('Level Bids & Build Report').first().json.html }}","bodyContentType":"html","additionalFields":{"toRecipients":"buck@hendricksoninc.com"}},"credentials":{"microsoftOutlookOAuth2Api":{"id":"I9EZEhr72Zo6vPWX","name":"Microsoft Outlook account"}},"webhookId":"bae84bde-fc10-4c7e-b31f-e4c304fee173"},{"id":"outlook-notif-001","name":"Notify Buck — No Tracker","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[480,280],"parameters":{"resource":"draft","subject":"=⚠️ Bid Leveling Failed — Project Not Found: {{ $json.projectName }}","bodyContent":"=Could not run bid leveling. Error: {{ $json.error }}. Project searched: {{ $json.projectName }}.","additionalFields":{"toRecipients":"buck@hendricksoninc.com"}},"credentials":{"microsoftOutlookOAuth2Api":{"id":"I9EZEhr72Zo6vPWX","name":"Microsoft Outlook account"}},"webhookId":"7d5f62a2-62e3-4b87-a69b-5f82ae5fcaca"},{"id":"00eb2927-36c1-4c90-8db3-8d9476806703","name":"Export XLSX (Schedule)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1200,-80],"parameters":{"method":"GET","url":"=https://docs.google.com/spreadsheets/d/{{$json.bidTrackerSheetId}}/export?format=xlsx","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"xlsxData"}}}},"credentials":{"googleSheetsOAuth2Api":{"id":"Z9ViG2jWlb66ncRi","name":"Google Sheets account"}}},{"id":"d57d4e95-b353-486b-9328-54d1f1721ea6","name":"Upload BT xlsx (Schedule)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1440,-80],"parameters":{"method":"PATCH","url":"=https://www.googleapis.com/upload/drive/v3/files/{{$json.btXlsxId}}?uploadType=media&supportsAllDrives=true&supportsTeamDrives=true&fields=id,name","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"contentType":"binaryData","inputDataFieldName":"xlsxData","options":{}},"credentials":{"googleDriveOAuth2Api":{"id":"UDJZyRl4iZXIr4qI","name":"Google Drive account"}}},{"id":"13c58652-f234-404d-af41-388e94e088ca","name":"Export XLSX (Webhook)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1200,80],"parameters":{"method":"GET","url":"=https://docs.google.com/spreadsheets/d/{{$json.bidTrackerSheetId}}/export?format=xlsx","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"xlsxData"}}}},"credentials":{"googleSheetsOAuth2Api":{"id":"Z9ViG2jWlb66ncRi","name":"Google Sheets account"}}},{"id":"d97d42e5-9497-423d-9b2a-bbc377c39b1c","name":"Upload BT xlsx (Webhook)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1440,80],"parameters":{"method":"PATCH","url":"=https://www.googleapis.com/upload/drive/v3/files/{{$json.btXlsxId}}?uploadType=media&supportsAllDrives=true&supportsTeamDrives=true&fields=id,name","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"contentType":"binaryData","inputDataFieldName":"xlsxData","options":{}},"credentials":{"googleDriveOAuth2Api":{"id":"UDJZyRl4iZXIr4qI","name":"Google Drive account"}}}],"connections":{"Daily 5 PM (End of Day)":{"main":[[{"node":"Load Registry (Schedule)","type":"main","index":0}]]},"Load Registry (Schedule)":{"main":[[{"node":"Loop All Active Projects","type":"main","index":0}]]},"Loop All Active Projects":{"main":[[{"node":"Split by Project","type":"main","index":0}]]},"Split by Project":{"main":[[{"node":"Read Bid Tracker (Schedule)","type":"main","index":0}]]},"Read Bid Tracker (Schedule)":{"main":[[{"node":"Level Bids (Schedule)","type":"main","index":0}]]},"Send Draft (Schedule)":{"main":[[{"node":"Split by Project","type":"main","index":0}]]},"Bid Leveling Webhook":{"main":[[{"node":"Load Project Registry","type":"main","index":0}]]},"Load Project Registry":{"main":[[{"node":"Find Project & Tracker ID","type":"main","index":0}]]},"Find Project & Tracker ID":{"main":[[{"node":"Bid Tracker Found?","type":"main","index":0}]]},"Bid Tracker Found?":{"main":[[{"node":"Read Bid Tracker","type":"main","index":0}],[{"node":"Notify Buck — No Tracker","type":"main","index":0}]]},"Read Bid Tracker":{"main":[[{"node":"Level Bids & Build Report","type":"main","index":0}]]},"Level Bids (Schedule)":{"main":[[{"node":"Export XLSX (Schedule)","type":"main","index":0}]]},"Export XLSX (Schedule)":{"main":[[{"node":"Upload BT xlsx (Schedule)","type":"main","index":0}]]},"Upload BT xlsx (Schedule)":{"main":[[{"node":"Send Draft (Schedule)","type":"main","index":0}]]},"Level Bids & Build Report":{"main":[[{"node":"Export XLSX (Webhook)","type":"main","index":0}]]},"Export XLSX (Webhook)":{"main":[[{"node":"Upload BT xlsx (Webhook)","type":"main","index":0}]]},"Upload BT xlsx (Webhook)":{"main":[[{"node":"Send Draft to Buck","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Daily 5 PM (End of Day)":{"recurrenceRules":[]}},"meta":null,"nodeGroups":[],"pinData":null,"versionId":"7a9ee355-685b-4113-a518-556b5ecb0635","activeVersionId":"7a9ee355-685b-4113-a518-556b5ecb0635","versionCounter":4,"triggerCount":2,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-06-20T00:43:30.320Z","createdAt":"2026-06-20T00:43:30.320Z","role":"workflow:owner","workflowId":"Q1akV9pVnDkmATIo","projectId":"ZyJUZXA49m8REtF6","project":{"updatedAt":"2026-06-13T17:47:03.534Z","createdAt":"2026-06-13T17:44:54.962Z","id":"ZyJUZXA49m8REtF6","name":"Buck Adams <buck@hendricksoninc.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-24T21:29:20.850Z","createdAt":"2026-06-24T21:29:20.850Z","versionId":"7a9ee355-685b-4113-a518-556b5ecb0635","workflowId":"Q1akV9pVnDkmATIo","nodes":[{"id":"wh-bid-leveling-001","name":"Bid Leveling Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-480,160],"parameters":{"httpMethod":"POST","path":"bid-leveling","responseMode":"onReceived","responseData":"allEntries","options":{}},"webhookId":"39a10b77-b7c7-4690-90b0-b03b63d0e2a8"},{"id":"sched-eod-5pm","name":"Daily 5 PM (End of Day)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-480,-80],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 23 * * *"}]}}},{"id":"sched-load-reg","name":"Load Registry (Schedule)","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-240,-80],"parameters":{"documentId":{"__rl":true,"mode":"id","value":"1brdSsQDdnPWx61vbV6gPdumXGKxAujNyhXRMpuvJVtg"},"sheetName":{"__rl":true,"mode":"name","value":"Projects"},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"Z9ViG2jWlb66ncRi","name":"Google Sheets account"}}},{"id":"sched-loop-proj","name":"Loop All Active Projects","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-80],"parameters":{"jsCode":"// Triggered by daily schedule — run leveling for ALL active projects\nconst projects = $input.all().map(i => i.json)\n    .filter(p => (p['Status'] || '').toLowerCase() === 'active' && p['Bid Tracker Sheet ID']);\nreturn projects.map(p => ({ json: {\n    found: true,\n    projectName:       p['Project Name'] || '',\n    bidTrackerSheetId: p['Bid Tracker Sheet ID'],\n    tabName:           p['Tab Name'] || 'Sheet1',\n    bidFolderId:       p['Bid Folder ID'] || '',\n    simpleXlsxId:      p['Simple xlsx ID'] || '',\n    btXlsxId:          p['BT xlsx ID'] || '',\n    isSharedDrive:     (p['Is Shared Drive'] || '').toString().toUpperCase() === 'TRUE',\n    runMode:           'scheduled-all',\n}}));"}},{"id":"sched-split-batch","name":"Split by Project","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[240,-80],"parameters":{"batchSize":1,"options":{}}},{"id":"sched-read-tracker","name":"Read Bid Tracker (Schedule)","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[480,-80],"parameters":{"documentId":{"__rl":true,"mode":"id","value":"={{ $json.bidTrackerSheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $json.tabName }}"},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"Z9ViG2jWlb66ncRi","name":"Google Sheets account"}}},{"id":"sched-level-bids","name":"Level Bids (Schedule)","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,-80],"parameters":{"jsCode":"// ─── PROJECT META (works in both schedule and webhook paths) ────────────────\nconst meta = (() => {\n    try { const d = $('Split by Project').item.json; if (d && d.bidTrackerSheetId) return d; } catch(e) {}\n    try { const d = $('Find Project & Tracker ID').first().json; if (d && d.bidTrackerSheetId) return d; } catch(e) {}\n    return {};\n})();\nconst webhookBody   = (() => { try { return $('Bid Leveling Webhook').first().json.body || {}; } catch(e) { return {}; } })();\nconst projectName   = meta.projectName || webhookBody.project_name || 'Unknown Project';\nconst bidTrackerSheetId = meta.bidTrackerSheetId || '';\nconst btXlsxId      = meta.btXlsxId || '';\nconst simpleXlsxId  = meta.simpleXlsxId || '';\nconst isSharedDrive = meta.isSharedDrive || false;\nconst tradeFilter   = (webhookBody.trade_filter || '').toLowerCase().trim();\nconst bids          = $input.all().map(i => i.json);\nconst dateStr       = new Date().toISOString().split('T')[0];\n// ─── GROUP BIDS BY CSI DIVISION ──────────────────────────────────────────────\nconst tradeGroups = {};\nfor (const bid of bids) {\n    const csi = (bid['CSI Division'] || bid['Division'] || '').toString().trim();\n    const sub = (bid['Subcontractor'] || bid['Vendor'] || bid['Sub'] || '').toString().trim();\n    if (!sub || sub === 'Subcontractor' || csi === csi.toLowerCase() && !csi) continue;\n\n    const key = csi || 'Unknown';\n    if (tradeFilter && !key.toLowerCase().includes(tradeFilter) && !sub.toLowerCase().includes(tradeFilter)) continue;\n\n    if (!tradeGroups[key]) tradeGroups[key] = { division: key, bids: [] };\n\n    const rawAmt = (bid['Bid Amount'] || '').toString().replace(/[$,\\s]/g, '');\n    const amount = parseFloat(rawAmt) || null;\n    const note   = bid['Notes'] || bid['Notes (Claude)'] || bid['Notes/Issues'] || '';\n    const contact = bid['Contact'] || bid['Contact #1'] || bid['Contact Name'] || '';\n    const email   = bid['Email'] || bid['Email 1'] || '';\n    const status  = bid['Status'] || '';\n\n    tradeGroups[key].bids.push({ vendor: sub, amount, status, notes: note, contact, email,\n        dateSent: bid['Date Sent'] || '', dateRcvd: bid['Date Received'] || '' });\n}\n\n// ─── LEVEL EACH TRADE GROUP ──────────────────────────────────────────────────\nconst leveled = [];\nfor (const [key, group] of Object.entries(tradeGroups).sort()) {\n    const withAmt = group.bids.filter(b => b.amount !== null).sort((a, b) => a.amount - b.amount);\n    const noAmt   = group.bids.filter(b => b.amount === null);\n    const n = withAmt.length;\n\n    let low = null, high = null, median = null, spread = null;\n    if (n > 0) {\n        low    = withAmt[0].amount;\n        high   = withAmt[n - 1].amount;\n        median = n % 2 === 0\n            ? (withAmt[n/2-1].amount + withAmt[n/2].amount) / 2\n            : withAmt[Math.floor(n/2)].amount;\n        spread = n >= 2 ? ((high - low) / low * 100).toFixed(1) + '%' : 'N/A';\n    }\n\n    const fmt = v => v !== null ? '$' + v.toLocaleString('en-US', {minimumFractionDigits: 0}) : '—';\n    const flag = b => {\n        if (b.amount === null) {\n            const st = b.status.toLowerCase();\n            if (st.includes('decline') || st.includes('no bid')) return '✗ Declined';\n            return '⏳ Pending';\n        }\n        if (median && b.amount > median * 1.25) return '⚠️ High';\n        if (median && b.amount < median * 0.75) return '⚠️ Low';\n        return '✓';\n    };\n\n    leveled.push({ key, division: group.division, bidCount: group.bids.length,\n        received: n, pending: noAmt.length, low: fmt(low), high: fmt(high),\n        median: fmt(median), spread,\n        rows: [...withAmt.map(b => ({...b, flag: flag(b)})),\n               ...noAmt.map(b => ({...b, flag: flag(b)}))] });\n}\n\n// ─── BUILD HTML REPORT ───────────────────────────────────────────────────────\nconst fmt2 = v => v !== null && v !== undefined ? '$' + Number(v).toLocaleString('en-US', {minimumFractionDigits: 0}) : '—';\nlet html = `<div style=\"font-family:Arial,sans-serif;font-size:13px;color:#1a1a1a;\">\n<div style=\"background:#1a1a1a;color:#fff;padding:16px 20px;border-bottom:3px solid #e05a00;\">\n  <h2 style=\"margin:0;font-size:18px;\">DRAFT BID LEVELING REPORT</h2>\n  <p style=\"margin:4px 0 0;color:#aaa;font-size:11px;\">${projectName} &nbsp;|&nbsp; ${dateStr} &nbsp;|&nbsp; FOR BUCK'S REVIEW &amp; APPROVAL ONLY — NO AWARDS COMMITTED</p>\n</div>\n<div style=\"background:#fff0f0;border-left:4px solid #e05a00;padding:10px 16px;margin:12px 0;font-size:12px;\">\n  <strong>⚠ DRAFT — Human Approval Required.</strong> No bid is awarded, committed, or finalized without Buck Adams' written approval.\n</div>\n<p style=\"font-size:12px;color:#666;\">${leveled.length} trade${leveled.length !== 1 ? 's' : ''} &nbsp;|&nbsp; ${leveled.reduce((s,t)=>s+t.bidCount,0)} total bids &nbsp;|&nbsp; ${leveled.reduce((s,t)=>s+t.received,0)} with amounts &nbsp;|&nbsp; ${leveled.reduce((s,t)=>s+t.pending,0)} pending</p>`;\n\nfor (const t of leveled) {\n    html += `\n<h3 style=\"color:#e05a00;border-bottom:1px solid #ddd;padding-bottom:4px;margin-top:24px;\">${t.key}</h3>\n<p style=\"font-size:11px;color:#555;margin:4px 0 8px;\">\n  Bids: ${t.bidCount} &nbsp;|&nbsp; Received: ${t.received} &nbsp;|&nbsp; Pending: ${t.pending}\n  ${t.received > 0 ? ` &nbsp;|&nbsp; Low: ${t.low} &nbsp;|&nbsp; Median: ${t.median} &nbsp;|&nbsp; High: ${t.high} &nbsp;|&nbsp; Spread: ${t.spread}` : ''}\n</p>\n<table style=\"border-collapse:collapse;width:100%;margin-bottom:8px;font-size:12px;\">\n  <thead><tr style=\"background:#e05a00;color:#fff;\">\n    <th style=\"padding:7px 10px;text-align:left;\">Rank</th>\n    <th style=\"padding:7px 10px;text-align:left;\">Subcontractor</th>\n    <th style=\"padding:7px 10px;text-align:right;\">Bid Amount</th>\n    <th style=\"padding:7px 10px;text-align:center;\">Flag</th>\n    <th style=\"padding:7px 10px;text-align:left;\">Status</th>\n    <th style=\"padding:7px 10px;text-align:left;\">Notes</th>\n  </tr></thead><tbody>`;\n\n    t.rows.forEach((b, i) => {\n        const bg = i % 2 === 0 ? '#f9f9f9' : '#fff';\n        html += `\n    <tr style=\"background:${bg};\">\n      <td style=\"padding:6px 10px;\">${b.amount !== null ? '#' + (t.rows.filter(r=>r.amount!==null).indexOf(b)+1) : '—'}</td>\n      <td style=\"padding:6px 10px;font-weight:bold;\">${b.vendor}</td>\n      <td style=\"padding:6px 10px;text-align:right;\">${fmt2(b.amount)}</td>\n      <td style=\"padding:6px 10px;text-align:center;\">${b.flag}</td>\n      <td style=\"padding:6px 10px;\">${b.status}</td>\n      <td style=\"padding:6px 10px;color:#666;\">${b.notes}</td>\n    </tr>`;\n    });\n    html += `</tbody></table>`;\n}\n\nhtml += `\n<hr style=\"margin-top:24px;\">\n<p style=\"font-size:11px;color:#888;text-align:center;\">HCI Construction OS &nbsp;|&nbsp; Bid Leveling Engine &nbsp;|&nbsp; ${dateStr} &nbsp;|&nbsp; DRAFT — No Awards, Budgets, or Commitments</p>\n</div>`;\n\nreturn [{ json: { projectName, dateStr, tradeCount: leveled.length, html,\n    bidTrackerSheetId, btXlsxId, simpleXlsxId, isSharedDrive } }];"}},{"id":"sched-send-draft","name":"Send Draft (Schedule)","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[960,-80],"parameters":{"resource":"draft","subject":"=DRAFT BID LEVELING — {{ $('Level Bids (Schedule)').first().json.projectName }} — {{ $('Level Bids (Schedule)').first().json.dateStr }}","bodyContent":"={{ $('Level Bids (Schedule)').first().json.html }}","bodyContentType":"html","additionalFields":{"toRecipients":"buck@hendricksoninc.com"}},"credentials":{"microsoftOutlookOAuth2Api":{"id":"I9EZEhr72Zo6vPWX","name":"Microsoft Outlook account"}},"webhookId":"1ba71b67-96b5-4e76-956b-37d13864828c"},{"id":"gs-project-reg-001","name":"Load Project Registry","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-240,160],"parameters":{"documentId":{"__rl":true,"mode":"id","value":"1brdSsQDdnPWx61vbV6gPdumXGKxAujNyhXRMpuvJVtg"},"sheetName":{"__rl":true,"mode":"name","value":"Projects"},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"Z9ViG2jWlb66ncRi","name":"Google Sheets account"}}},{"id":"code-find-proj-001","name":"Find Project & Tracker ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,160],"parameters":{"jsCode":"const webhookBody = $('Bid Leveling Webhook').first().json.body || {};\nconst projectFilter = (webhookBody.project_name || '').toLowerCase().trim();\nconst projects = $input.all().map(i => i.json);\n\nlet project = null;\nfor (const p of projects) {\n    const name    = (p['Project Name'] || '').toLowerCase();\n    const aliases = (p['Aliases']      || '').toLowerCase();\n    if (!projectFilter || name.includes(projectFilter) || aliases.includes(projectFilter)) {\n        project = p; break;\n    }\n}\nif (!project) {\n    return [{ json: { found: false, projectName: webhookBody.project_name || 'Unknown', error: 'No matching project in registry' } }];\n}\nconst bidTrackerSheetId = project['Bid Tracker Sheet ID'] || project['Bid Tracker ID'] || '';\nconst tabName = (webhookBody.tab_name || project['Tab Name'] || 'Sheet1').trim();\nreturn [{ json: {\n    found: !!bidTrackerSheetId,\n    projectName:       project['Project Name'] || '',\n    bidTrackerSheetId,\n    tabName,\n    bidFolderId:       project['Bid Folder ID'] || '',\n    simpleXlsxId:      project['Simple xlsx ID'] || '',\n    btXlsxId:          project['BT xlsx ID'] || '',\n    isSharedDrive:     (project['Is Shared Drive'] || '').toString().toUpperCase() === 'TRUE',\n    error: bidTrackerSheetId ? '' : 'No Bid Tracker Sheet ID in Project Registry',\n} }];"}},{"id":"if-tracker-found-001","name":"Bid Tracker Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[240,160],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{ $json.found }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"},"id":"cond-found"}],"combinator":"and"},"options":{}}},{"id":"gs-read-tracker-001","name":"Read Bid Tracker","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[480,80],"parameters":{"documentId":{"__rl":true,"mode":"id","value":"={{ $json.bidTrackerSheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $json.tabName }}"},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"Z9ViG2jWlb66ncRi","name":"Google Sheets account"}}},{"id":"code-level-001","name":"Level Bids & Build Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,80],"parameters":{"jsCode":"// ─── PROJECT META (works in both schedule and webhook paths) ────────────────\nconst meta = (() => {\n    try { const d = $('Split by Project').item.json; if (d && d.bidTrackerSheetId) return d; } catch(e) {}\n    try { const d = $('Find Project & Tracker ID').first().json; if (d && d.bidTrackerSheetId) return d; } catch(e) {}\n    return {};\n})();\nconst webhookBody   = (() => { try { return $('Bid Leveling Webhook').first().json.body || {}; } catch(e) { return {}; } })();\nconst projectName   = meta.projectName || webhookBody.project_name || 'Unknown Project';\nconst bidTrackerSheetId = meta.bidTrackerSheetId || '';\nconst btXlsxId      = meta.btXlsxId || '';\nconst simpleXlsxId  = meta.simpleXlsxId || '';\nconst isSharedDrive = meta.isSharedDrive || false;\nconst tradeFilter   = (webhookBody.trade_filter || '').toLowerCase().trim();\nconst bids          = $input.all().map(i => i.json);\nconst dateStr       = new Date().toISOString().split('T')[0];\n// ─── GROUP BIDS BY CSI DIVISION ──────────────────────────────────────────────\nconst tradeGroups = {};\nfor (const bid of bids) {\n    const csi = (bid['CSI Division'] || bid['Division'] || '').toString().trim();\n    const sub = (bid['Subcontractor'] || bid['Vendor'] || bid['Sub'] || '').toString().trim();\n    if (!sub || sub === 'Subcontractor' || csi === csi.toLowerCase() && !csi) continue;\n\n    const key = csi || 'Unknown';\n    if (tradeFilter && !key.toLowerCase().includes(tradeFilter) && !sub.toLowerCase().includes(tradeFilter)) continue;\n\n    if (!tradeGroups[key]) tradeGroups[key] = { division: key, bids: [] };\n\n    const rawAmt = (bid['Bid Amount'] || '').toString().replace(/[$,\\s]/g, '');\n    const amount = parseFloat(rawAmt) || null;\n    const note   = bid['Notes'] || bid['Notes (Claude)'] || bid['Notes/Issues'] || '';\n    const contact = bid['Contact'] || bid['Contact #1'] || bid['Contact Name'] || '';\n    const email   = bid['Email'] || bid['Email 1'] || '';\n    const status  = bid['Status'] || '';\n\n    tradeGroups[key].bids.push({ vendor: sub, amount, status, notes: note, contact, email,\n        dateSent: bid['Date Sent'] || '', dateRcvd: bid['Date Received'] || '' });\n}\n\n// ─── LEVEL EACH TRADE GROUP ──────────────────────────────────────────────────\nconst leveled = [];\nfor (const [key, group] of Object.entries(tradeGroups).sort()) {\n    const withAmt = group.bids.filter(b => b.amount !== null).sort((a, b) => a.amount - b.amount);\n    const noAmt   = group.bids.filter(b => b.amount === null);\n    const n = withAmt.length;\n\n    let low = null, high = null, median = null, spread = null;\n    if (n > 0) {\n        low    = withAmt[0].amount;\n        high   = withAmt[n - 1].amount;\n        median = n % 2 === 0\n            ? (withAmt[n/2-1].amount + withAmt[n/2].amount) / 2\n            : withAmt[Math.floor(n/2)].amount;\n        spread = n >= 2 ? ((high - low) / low * 100).toFixed(1) + '%' : 'N/A';\n    }\n\n    const fmt = v => v !== null ? '$' + v.toLocaleString('en-US', {minimumFractionDigits: 0}) : '—';\n    const flag = b => {\n        if (b.amount === null) {\n            const st = b.status.toLowerCase();\n            if (st.includes('decline') || st.includes('no bid')) return '✗ Declined';\n            return '⏳ Pending';\n        }\n        if (median && b.amount > median * 1.25) return '⚠️ High';\n        if (median && b.amount < median * 0.75) return '⚠️ Low';\n        return '✓';\n    };\n\n    leveled.push({ key, division: group.division, bidCount: group.bids.length,\n        received: n, pending: noAmt.length, low: fmt(low), high: fmt(high),\n        median: fmt(median), spread,\n        rows: [...withAmt.map(b => ({...b, flag: flag(b)})),\n               ...noAmt.map(b => ({...b, flag: flag(b)}))] });\n}\n\n// ─── BUILD HTML REPORT ───────────────────────────────────────────────────────\nconst fmt2 = v => v !== null && v !== undefined ? '$' + Number(v).toLocaleString('en-US', {minimumFractionDigits: 0}) : '—';\nlet html = `<div style=\"font-family:Arial,sans-serif;font-size:13px;color:#1a1a1a;\">\n<div style=\"background:#1a1a1a;color:#fff;padding:16px 20px;border-bottom:3px solid #e05a00;\">\n  <h2 style=\"margin:0;font-size:18px;\">DRAFT BID LEVELING REPORT</h2>\n  <p style=\"margin:4px 0 0;color:#aaa;font-size:11px;\">${projectName} &nbsp;|&nbsp; ${dateStr} &nbsp;|&nbsp; FOR BUCK'S REVIEW &amp; APPROVAL ONLY — NO AWARDS COMMITTED</p>\n</div>\n<div style=\"background:#fff0f0;border-left:4px solid #e05a00;padding:10px 16px;margin:12px 0;font-size:12px;\">\n  <strong>⚠ DRAFT — Human Approval Required.</strong> No bid is awarded, committed, or finalized without Buck Adams' written approval.\n</div>\n<p style=\"font-size:12px;color:#666;\">${leveled.length} trade${leveled.length !== 1 ? 's' : ''} &nbsp;|&nbsp; ${leveled.reduce((s,t)=>s+t.bidCount,0)} total bids &nbsp;|&nbsp; ${leveled.reduce((s,t)=>s+t.received,0)} with amounts &nbsp;|&nbsp; ${leveled.reduce((s,t)=>s+t.pending,0)} pending</p>`;\n\nfor (const t of leveled) {\n    html += `\n<h3 style=\"color:#e05a00;border-bottom:1px solid #ddd;padding-bottom:4px;margin-top:24px;\">${t.key}</h3>\n<p style=\"font-size:11px;color:#555;margin:4px 0 8px;\">\n  Bids: ${t.bidCount} &nbsp;|&nbsp; Received: ${t.received} &nbsp;|&nbsp; Pending: ${t.pending}\n  ${t.received > 0 ? ` &nbsp;|&nbsp; Low: ${t.low} &nbsp;|&nbsp; Median: ${t.median} &nbsp;|&nbsp; High: ${t.high} &nbsp;|&nbsp; Spread: ${t.spread}` : ''}\n</p>\n<table style=\"border-collapse:collapse;width:100%;margin-bottom:8px;font-size:12px;\">\n  <thead><tr style=\"background:#e05a00;color:#fff;\">\n    <th style=\"padding:7px 10px;text-align:left;\">Rank</th>\n    <th style=\"padding:7px 10px;text-align:left;\">Subcontractor</th>\n    <th style=\"padding:7px 10px;text-align:right;\">Bid Amount</th>\n    <th style=\"padding:7px 10px;text-align:center;\">Flag</th>\n    <th style=\"padding:7px 10px;text-align:left;\">Status</th>\n    <th style=\"padding:7px 10px;text-align:left;\">Notes</th>\n  </tr></thead><tbody>`;\n\n    t.rows.forEach((b, i) => {\n        const bg = i % 2 === 0 ? '#f9f9f9' : '#fff';\n        html += `\n    <tr style=\"background:${bg};\">\n      <td style=\"padding:6px 10px;\">${b.amount !== null ? '#' + (t.rows.filter(r=>r.amount!==null).indexOf(b)+1) : '—'}</td>\n      <td style=\"padding:6px 10px;font-weight:bold;\">${b.vendor}</td>\n      <td style=\"padding:6px 10px;text-align:right;\">${fmt2(b.amount)}</td>\n      <td style=\"padding:6px 10px;text-align:center;\">${b.flag}</td>\n      <td style=\"padding:6px 10px;\">${b.status}</td>\n      <td style=\"padding:6px 10px;color:#666;\">${b.notes}</td>\n    </tr>`;\n    });\n    html += `</tbody></table>`;\n}\n\nhtml += `\n<hr style=\"margin-top:24px;\">\n<p style=\"font-size:11px;color:#888;text-align:center;\">HCI Construction OS &nbsp;|&nbsp; Bid Leveling Engine &nbsp;|&nbsp; ${dateStr} &nbsp;|&nbsp; DRAFT — No Awards, Budgets, or Commitments</p>\n</div>`;\n\nreturn [{ json: { projectName, dateStr, tradeCount: leveled.length, html,\n    bidTrackerSheetId, btXlsxId, simpleXlsxId, isSharedDrive } }];"}},{"id":"outlook-send-001","name":"Send Draft to Buck","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[960,80],"parameters":{"resource":"draft","subject":"=DRAFT BID LEVELING — {{ $('Level Bids & Build Report').first().json.projectName }} — {{ $('Level Bids & Build Report').first().json.dateStr }}","bodyContent":"={{ $('Level Bids & Build Report').first().json.html }}","bodyContentType":"html","additionalFields":{"toRecipients":"buck@hendricksoninc.com"}},"credentials":{"microsoftOutlookOAuth2Api":{"id":"I9EZEhr72Zo6vPWX","name":"Microsoft Outlook account"}},"webhookId":"bae84bde-fc10-4c7e-b31f-e4c304fee173"},{"id":"outlook-notif-001","name":"Notify Buck — No Tracker","type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[480,280],"parameters":{"resource":"draft","subject":"=⚠️ Bid Leveling Failed — Project Not Found: {{ $json.projectName }}","bodyContent":"=Could not run bid leveling. Error: {{ $json.error }}. Project searched: {{ $json.projectName }}.","additionalFields":{"toRecipients":"buck@hendricksoninc.com"}},"credentials":{"microsoftOutlookOAuth2Api":{"id":"I9EZEhr72Zo6vPWX","name":"Microsoft Outlook account"}},"webhookId":"7d5f62a2-62e3-4b87-a69b-5f82ae5fcaca"},{"id":"00eb2927-36c1-4c90-8db3-8d9476806703","name":"Export XLSX (Schedule)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1200,-80],"parameters":{"method":"GET","url":"=https://docs.google.com/spreadsheets/d/{{$json.bidTrackerSheetId}}/export?format=xlsx","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"xlsxData"}}}},"credentials":{"googleSheetsOAuth2Api":{"id":"Z9ViG2jWlb66ncRi","name":"Google Sheets account"}}},{"id":"d57d4e95-b353-486b-9328-54d1f1721ea6","name":"Upload BT xlsx (Schedule)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1440,-80],"parameters":{"method":"PATCH","url":"=https://www.googleapis.com/upload/drive/v3/files/{{$json.btXlsxId}}?uploadType=media&supportsAllDrives=true&supportsTeamDrives=true&fields=id,name","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"contentType":"binaryData","inputDataFieldName":"xlsxData","options":{}},"credentials":{"googleDriveOAuth2Api":{"id":"UDJZyRl4iZXIr4qI","name":"Google Drive account"}}},{"id":"13c58652-f234-404d-af41-388e94e088ca","name":"Export XLSX (Webhook)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1200,80],"parameters":{"method":"GET","url":"=https://docs.google.com/spreadsheets/d/{{$json.bidTrackerSheetId}}/export?format=xlsx","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"xlsxData"}}}},"credentials":{"googleSheetsOAuth2Api":{"id":"Z9ViG2jWlb66ncRi","name":"Google Sheets account"}}},{"id":"d97d42e5-9497-423d-9b2a-bbc377c39b1c","name":"Upload BT xlsx (Webhook)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1440,80],"parameters":{"method":"PATCH","url":"=https://www.googleapis.com/upload/drive/v3/files/{{$json.btXlsxId}}?uploadType=media&supportsAllDrives=true&supportsTeamDrives=true&fields=id,name","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"contentType":"binaryData","inputDataFieldName":"xlsxData","options":{}},"credentials":{"googleDriveOAuth2Api":{"id":"UDJZyRl4iZXIr4qI","name":"Google Drive account"}}}],"connections":{"Daily 5 PM (End of Day)":{"main":[[{"node":"Load Registry (Schedule)","type":"main","index":0}]]},"Load Registry (Schedule)":{"main":[[{"node":"Loop All Active Projects","type":"main","index":0}]]},"Loop All Active Projects":{"main":[[{"node":"Split by Project","type":"main","index":0}]]},"Split by Project":{"main":[[{"node":"Read Bid Tracker (Schedule)","type":"main","index":0}]]},"Read Bid Tracker (Schedule)":{"main":[[{"node":"Level Bids (Schedule)","type":"main","index":0}]]},"Send Draft (Schedule)":{"main":[[{"node":"Split by Project","type":"main","index":0}]]},"Bid Leveling Webhook":{"main":[[{"node":"Load Project Registry","type":"main","index":0}]]},"Load Project Registry":{"main":[[{"node":"Find Project & Tracker ID","type":"main","index":0}]]},"Find Project & Tracker ID":{"main":[[{"node":"Bid Tracker Found?","type":"main","index":0}]]},"Bid Tracker Found?":{"main":[[{"node":"Read Bid Tracker","type":"main","index":0}],[{"node":"Notify Buck — No Tracker","type":"main","index":0}]]},"Read Bid Tracker":{"main":[[{"node":"Level Bids & Build Report","type":"main","index":0}]]},"Level Bids (Schedule)":{"main":[[{"node":"Export XLSX (Schedule)","type":"main","index":0}]]},"Export XLSX (Schedule)":{"main":[[{"node":"Upload BT xlsx (Schedule)","type":"main","index":0}]]},"Upload BT xlsx (Schedule)":{"main":[[{"node":"Send Draft (Schedule)","type":"main","index":0}]]},"Level Bids & Build Report":{"main":[[{"node":"Export XLSX (Webhook)","type":"main","index":0}]]},"Export XLSX (Webhook)":{"main":[[{"node":"Upload BT xlsx (Webhook)","type":"main","index":0}]]},"Upload BT xlsx (Webhook)":{"main":[[{"node":"Send Draft to Buck","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Buck Adams","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-24T21:29:20.880Z","id":118,"workflowId":"Q1akV9pVnDkmATIo","versionId":"7a9ee355-685b-4113-a518-556b5ecb0635","event":"activated","userId":"3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"},{"createdAt":"2026-06-24T21:29:20.873Z","id":117,"workflowId":"Q1akV9pVnDkmATIo","versionId":"7a9ee355-685b-4113-a518-556b5ecb0635","event":"deactivated","userId":"3aeb1463-fc8a-4ad9-a1e5-3c02668cd637"}]}}